{% extends "centerpage.html" %}

{% block title %}Odhlásenie{% endblock %}

{% block content %}

<h1>Odhlásenie</h1>

<p>Odhlásenie prebehlo úspešne</p>

<p><a href="{% url 'login' %}">Prihlásiť sa</a></p>

{% endblock %}