{% extends "centerpage.html" %}

{% block title %}Prihlásenie{% endblock %}

{% block content %}

<h1>Prihlásenie</h1>

{% if form.errors %}
<p>Meno a heslo nesedia. Skús znova.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Tvoj účet nemá práva na prístup k tejto stránke. Pre pokračovanie
    sa prosím prihlás s účtom, ktorý má prístup.</p>
    {% else %}
    <p>Prosím prihlás sa pre zobrazenie tejto stránky.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<ul>
    {{ form.as_ul }}
</ul>

<button type="submit" class="material-button">Prihlásiť</button>
<input type="hidden" name="next" value="{{ next }}">
</form>

<p><a href="{% url 'password_reset' %}">Zabudnuté heslo?</a></p>

{% endblock %}