{% extends "centerpage.html" %}

{% block title %}Zmena hesla{% endblock %}

{% block content %}

<h1>Zmena hesla</h1>

<p>Zadaj svoje staré heslo (kvôli bezpečnosti) a potom dvakrát nové heslo (aby sme overili či tam nemáš preklep)</p>

<form method="post">
{% csrf_token %}
<ul>
    {{ form.as_ul }}
</ul>

<button type="submit" class="material-button">Zmeniť heslo</button>
</form>

{% endblock %}