{% extends "centerpage.html" %}

{% block title %}Obnovenie hesla odoslané{% endblock %}

{% block content %}

<h1>Obnovenie hesla ukončené</h1>

<p>Vaše heslo bolo nastavené. Môžete pokračovať a prihlásiť sa.</p>

<p><a href="{{ login_url }}">Prihlásenie</a></p>

{% endblock %}