{% extends "centerpage.html" %}

{% block title %}Potvrdenie obnovenia hesla{% endblock %}

{% block content %}

<h1>Potvrdenie obnovenia hesla</h1>

{% if validlink %}
    <p>Zadajte nové heslo dvakrát, aby sme mohli overiť, že ste ho zadali správne.</p>

    <form method="post">
    {% csrf_token %}
    <ul>
        {{ form.as_ul }}
    </ul>

    <button type="submit" class="material-button">Zmeniť heslo</button>
    </form>
{% else %}
    Odkaz na zmenu hesla je neplatný, možno preto, že už bol použitý. Prosím vyžiadajte si obnovenie hesla nanovo.
{% endif %}

{% endblock %}