{% extends "centerpage.html" %}

{% block title %}Obnovenie hesla odoslané{% endblock %}

{% block content %}

<h1>Obnovenie hesla odoslané</h1>

<p>Čoskoro by ste mali dostať inštrukcie pre nastavenie hesla, ak existuje konto s emailom, ktorý ste zadali.</p>

<p>Ak ste nedostali email, uistite sa, že ste zadali adresu, s ktorou ste sa registrovali a skontrolujte svoj
    spamový priečinok.</p>

{% endblock %}