{% extends "centerpage.html" %}

{% block title %}Zabuduté heslo?{% endblock %}

{% block content %}

<h1>Zabuduté heslo?</h1>

<p>Nevadí! Zadaj svoj e-mail do formuláru nižšie a my Ti naň pošleme inštrukcie na obnovu hesla.</p>

<form method="post">
{% csrf_token %}
<ul>
    {{ form.as_ul }}
</ul>

<button type="submit" class="material-button">Obnoviť heslo</button>
</form>

{% endblock %}