{% extends 'centerpage.html' %}
{% load horam_extras %}
{% block title %}Čo je nové?{% endblock %}
{% block content %}
<h1>Čo je nové?</h1>
<table>
{% for activity in activities %}
    {% activity_detail activity as detail %}
    <tr>
    <td>{{ activity.time|conditional_year }}</td>
    <td {% if detail %}class="activity-with-detail"{% endif %}>{% activity_description activity %}
        {% if detail %}
            <blockquote class="activity-detail">{{ detail }}</blockquote>
        {% endif %}
    </td>
    </tr>
{% endfor %}
</table>
{% if activities.has_previous %}
<a href="?page=1">&lt;&lt; prvá</a>
<a href="?page={{ activities.previous_page_number }}">predošlá</a>
{% endif %}
Stránka {{ activities.number }} z {{ activities.paginator.num_pages }}
{% if activities.has_next %}
<a href="?page={{ activities.next_page_number }}">ďaľšia</a>
<a href="?page={{ activities.paginator.num_pages }}">posledná &gt;&gt;</a>
{% endif %}
{% endblock %}