{% extends 'fullpage.html' %}
{% load static %}
{% block title %}Kalendár{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'vendor/fullcalendar-5.4.0/lib/main.min.css' %}" />
    <script src="{% static 'vendor/fullcalendar-5.4.0/lib/main.min.js' %}"></script>
    <script src="{% static 'vendor/fullcalendar-5.4.0/lib/locales/sk.js' %}"></script>
    <script src="{% static 'event-calendar.js' %}"></script>
{% endblock %}
{% block topbar %}
    <h1>Kalendár akcií</h1>
{% endblock %}
{% block content %}
    {% if add_new_link %}
        <ul>
        <li><a href="{% url 'events_add' %}">Pridať akciu</a></li>
        </ul>
    {% endif %}
    <div id="event-calendar-wrapper">
        <div id="event-calendar"></div>
    </div>
    <ul id="event-calendar-links">
        <li><a href="{% url 'events_calendar_ics' %}">iCalendar feed</a></li>
    </ul>
{% endblock %}
