{% extends 'base.html' %}
{% load horam_extras %}
{% load l10n %}
{% block title %}{{ event.name }} - Akcie{% endblock %}
{% block topbar %}
    <h1 class="event-header-top">{{ event.name }}</h1>
{% endblock %}
{% block contentlayout %}
    <div class="content event">
    <header>
        <div class="event-header">
            <h1>{{ event.name }}</h1>
        </div>
    </header>
    <div class="event-wrapper">
    <div class="event-boxes">
        <aside class="event-box event-menu">
            <ul>
                {% if event.should_have_review %}
                    <li><a href="#zaznam">Záznam z akcie</a></li>
                {% endif %}
                <li><a href="#itinerar">Itinerár</a></li>
                <li><a href="{% url 'events_photos' event.id event.slug %}">Fotogaléria</a></li>
                {% if comments or add_comment_url %}
                    <li><a href="#komentare">Komentáre</a></li>
                {% endif %}
            </ul>
            {% if user.is_authenticated  %}
                <ul>
                    {% if can_edit %}
                    <li><a href="{% url 'events_edit' event.id event.slug%}">Upraviť akciu</a></li>
                    {% endif %}
                    {% if event.review %}
                        <li><a href="{% url 'events_edit_review' event.id event.slug %}">Upraviť záznam z akcie</a></li>
                    {% else %}
                        <li><a href="{% url 'events_edit_review' event.id event.slug %}">Pridať záznam z akcie</a></li>
                    {% endif %}
                </ul>
            {% endif %}
        </aside>
        <aside class="event-box">
            <h2>Termín</h2>
            <p>
                {% if event.date_start %}
                    {{ event.date_start|format_date }}
                    {% if event.date_end and event.date_start != event.date_end %} - {{ event.date_end|format_date }}{% endif %}
                {% else %}
                    neurčený
                {% endif %}
                {% if event.duration_days %}({{ event.duration_days|format_days }}){% endif %}
            </p>
        </aside>
        {% if event.latitude is not None and event.longitude is not None %}
            <aside class="event-box">
                <h2>Miesto</h2>
                <div>
                    <a class="gps-location">{{ event.latitude|unlocalize }}° N, {{ event.longitude|unlocalize }}° E</a>
                    <div class="map half"
                         data-lat="{{ event.latitude|unlocalize }}"
                         data-lon="{{ event.longitude|unlocalize }}"
                         data-zoom="5"></div>
                </div>
            </aside>
        {% endif %}
        {% with organizers=event.organizers.all %}
            {% if organizers %}
                <aside class="event-box">
                    <h2>{% if event.is_planned %}
                            {% if organizers|length == 1 %}
                                Organizuje
                            {% else %}
                                Organizujú
                            {% endif %}
                        {% else %}
                            {% if organizers|length == 1 %}
                                {% with organizer=organizers|first %}
                                    {% if organizer.is_male %}
                                        Organizoval
                                    {% else %}
                                        Organizovala
                                    {% endif %}
                                {% endwith %}
                            {% else %}
                                Organizovali
                            {% endif %}
                        {% endif %}
                    </h2>
                    <p>{{ organizers|join_attr:'nickname' }}</p>
                </aside>
            {% endif %}
        {% endwith %}

        {% if user.is_authenticated  %}
            <aside class="event-box">
                <h2>Účastníci</h2>
                <p>{{ participants|join_attr:'nickname' }}</p>
            </aside>

            <aside class="event-box">
                <h2>Nezúčastnení</h2>
                <p>{{ nonparticipants|join_attr:'nickname' }}</p>
            </aside>
        {% endif %}

        {% if participation_form %}
            <aside class="event-box">
                <h2>Moja účasť</h2>
                    <form action="{% url 'events_my_participation' event.id event.slug %}" method="post">
                    {% csrf_token %}
                    <ul>
                        {{ participation_form.as_ul }}
                    </ul>
                    <button type="submit" class="material-button">Zmeniť moju účasť</button>
                </form>
            </aside>
        {% endif %}
    </div>
    <div class="event-main">
    {% if event.is_cancelled %}
        <section>
            <p>Akcia bola zrušená.</p>
        </section>
    {% endif %}
    {% if event.should_have_review and event.review %}
        <section class="event-review">
            {% with review_authors=event.review.authors.all %}
                {% if review_authors %}
                    {% if review_authors|length == 1 %}
                        {% with author=review_authors|first %}
                            {% if author.is_male %}
                                Záznam z akcie napísal:
                            {% else %}
                                Záznam z akcie napísala:
                            {% endif %}
                            {{ author.nickname }}
                        {% endwith %}
                    {% else %}
                        Záznam z akcie napísali: {{ review_authors|join_attr:'nickname' }}
                    {% endif %}
                {% endif %}
            {% endwith %}
            {% if event.review %}
                <h2 id="zaznam">Záznam z akcie</h2>
                {% render_user_content event.review.content %}
            {% else %}
                Záznam z akcie neexistuje. <a href="{% url 'events_edit_review' event.id event.slug %}">Pridať záznam z akcie</a>
            {% endif %}
        </section>
    {% endif %}
    <section class="event-itinerary">
        <h2 id="itinerar">Itinerár</h2>
        {% render_user_content event.description %}
    </section>
    {% if comments or add_comment_url %}
        <section class="event-comments">
            <h2 id="komentare">Komentáre</h2>
            {% include 'comments/list.html' with comments=comments add_comment_url=add_comment_url %}
        </section>
    {% endif %}

    </div>
    </div>
    </div>
{% endblock %}