{% extends "centerpage.html" %}
{% load static %}
{% block title %}Upraviť - Akcie{% endblock %}
{% block extra_head %}
    <link href="{% static 'vendor/select2-4.0.13/dist/css/select2.min.css' %}" rel="stylesheet" />
    <script src="{% static 'vendor/select2-4.0.13/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'event-edit.js' %}"></script>
{% endblock %}
{% block content %}
    <h1>Upraviť akciu</h1>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="material-button">Uložiť</button>
        <ul>
            {{ form.as_ul }}
        </ul>
    </form>
{% endblock %}
