{% extends "centerpage.html" %}
{% load horam_extras %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>
    <ul>
        <li><a href="{% url 'events_calendar' %}">Kalendár akcií</a></li>
    {% if add_new_link %}
        <li><a href="{% url 'events_add' %}">Pridať akciu</a></li>
    {% endif %}
    </ul>
    <table id="events-list-planned" class="events-list">
    <tr>
        <th class="column-event">Akcia</th>
        <th class="column-start">Začiatok</th>
        <th class="column-duration">Trvanie</th>
        <th class="column-organizers">Organizátori</th>
    </tr>
    {% for event in events %}
        <tr>
            <td class="column-event"><a href="{% url 'events_detail' event.id event.slug %}">{{ event.name }}</a></td>
            <td class="column-start">{{ event.date_start|format_date|default:'?' }}</td>
            <td class="column-duration">{{ event.duration_days|format_days|default:'?' }}</td>
            <td class="column-organizers">{{ event.organizers.all|join_attr:'nickname' }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}