{% extends "centerpage.html" %}
{% load horam_extras %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <h1>{{ title }}</h1>
    <ul>
        <li><a href="{% url 'events_calendar' %}">Kalendár akcií</a></li>
    {% if add_new_link %}
        <li><a href="{% url 'events_add' %}">Pridať akciu</a></li>
    {% endif %}
    </ul>
    {% regroup events by date_start|date:"Y" as event_list %}
    {% for year, events in event_list %}
        <h2 id="rok-{{ year|default:"neznamy" }}">{{ year|default:"Bez dátumu" }}</h2>
        <table class="events-list events-list-review">
        <tr>
            <th class="column-event">Akcia</th>
            <th class="column-review">Záznam?</th>
            <th class="column-start">Začiatok</th>
            <th class="column-duration">Trvanie</th>
            <th class="column-organizers">Organizátori</th>
        </tr>
        {% for event in events %}
            <tr>
                <td class="column-event"><a href="{% url 'events_detail' event.id event.slug %}">{{ event.name }}</a></td>
                <td class="column-review">{% if event.review_count > 0 %}áno{% else %}nie{% endif %}</td>
                <td class="column-start">{{ event.date_start|format_date|default:'?' }}</td>
                <td class="column-duration">{{ event.duration_days|format_days|default:'?' }}</td>
                <td class="column-organizers">{{ event.organizers.all|join_attr:'nickname' }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endfor %}
{% endblock %}