{% extends 'fullpage.html' %}
{% load static %}
{% block title %}Mapa akcií{% endblock %}
{% block extra_head %}
    <script src="{% static 'vendor/leaflet.markercluster-1.4.1/dist/leaflet.markercluster.js' %}"></script>
    <link rel="stylesheet" href="{% static 'vendor/leaflet.markercluster-1.4.1/dist/MarkerCluster.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/leaflet.markercluster-1.4.1/dist/MarkerCluster.Default.css' %}" />
    <script src="{% static 'event-map.js' %}"></script>
{% endblock %}
{% block body_class %}fullcontent fullmap{% endblock %}
{% block topbar %}
    <h1>Mapa akcií</h1>
{% endblock %}
{% block content %}
    {% if add_new_link %}
        <ul>
        <li><a href="{% url 'events_add' %}">Pridať akciu</a></li>
        </ul>
    {% endif %}
    <div id="event-map"></div>
{% endblock %}
