{% extends "centerpage.html" %}
{% block title %}Upraviť moju účasť - Akcie{% endblock %}
{% block content %}
    <h1>Upraviť moju účasť na akcii {{ event.name }}</h1>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="material-button">Uložiť</button>
        <ul>
            {{ form.as_ul }}
        </ul>
    </form>
{% endblock %}