{% extends "centerpage.html" %}
{% load static %}
{% block title %}Galéria - {{ event.name }}- Akcie{% endblock %}
{% block extra_head %}
    <script src="{% static 'vendor/dropzonejs-5.7.2/dropzone.min.js' %}"></script>
    <script src="{% static 'event-photos-dropzone.js' %}"></script>
    <link rel="stylesheet" href="{% static 'vendor/dropzonejs-5.7.2/dropzone.min.css' %}" />
{% endblock %}
{% block content %}
    <h1>Galéria - {{ event.name }}</h1>
    {% if upload_form %}
    <form method="POST" enctype="multipart/form-data" class="dropzone" action="{% url 'events_photos' event.id event.slug %}"
    id="event-photos-dropzone">
        {% csrf_token %}
    </form>
    {% endif %}

    <div id="photo-list">
    {% for photo in event.photos.all  %}
        <img src="{{ photo.image.url }}"/>
    {% empty %}
        <p id="no-photos">K tejto akcii nie su dostupné žiadne fotografie.</p>
    {% endfor %}
    </div>

    <p><a href="{{ event.get_absolute_url }}">Späť na akciu</a></p>
{% endblock %}