{% load horam_extras %}
<div class="comment-box" id="komentar-{{ comment.id }}">
    <div class="comment-left">{% include 'avatar.html' with person=comment.author %}</div>
    <div class="comment-main">
        <div class="comment-top">
            <span class="comment-author">{{ comment.author.nickname }}</span>
            {% if comment.edit_url %}
                <span class="comment-actions"><a href="{{ comment.edit_url }}">Upraviť komentár</a></span>
            {% endif %}
            <span class="comment-date">{{ comment.created|human_date }}</span>
            {% if comment.modified is not none %}
            <span class="comment-modified"> (upravené {{ comment.modified|human_date }})</span>
            {% endif %}
        </div>
        <div class="comment-content">
            {% render_user_content comment.content %}
        </div>
    </div>
</div>