<div class="comment-add comment-box">
    <div class="comment-left">{% include 'avatar.html' with person=user.person %}</div>
    <div class="comment-main">
        <div class="comment-top">
            <span class="comment-author">{{ user.username }}</span>
            <span class="comment-date"></span>
        </div>
        <div class="comment-content">
            <form method="POST" action="{{ add_comment_url }}">
                {% csrf_token %}
                {% if parent_id is not none %}
                <input type="hidden" name="parent" value="{{ parent_id }}" />
                {% endif %}
                <textarea name="content" class="comment-area formatted-content"></textarea>
                <button type="submit" class="material-button">
                    {% if parent_id is not none %}
                        Pridať odpoveď
                    {% else %}
                        Pridať komentár
                    {% endif %}
                </button>
            </form>
        </div>
    </div>
</div>