{% extends 'base.html' %}
{% block title %}Upraviť - Komentár{% endblock %}
{% block content %}
    <h1>{% if comment_id is not none %}Upraviť{% else %}Pridať{% endif %}
        {% if form.parent.value %}odpoveď ku komentáru{% else %}komentár{% endif %}</h1>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="material-button">Uložiť</button>
        <ul>
            {{ form.as_ul }}
        </ul>
    </form>
{% endblock %}