{% if add_comment_url %}
    <div class="comment">
        {% include 'comments/comment-box-add.html' %}
    </div>
{% endif %}

{% for comment in comments %}
    <div class="comment">
        {% include 'comments/comment-box.html' with comment=comment %}
        {% for subcomment in comment.children %}
            {% include 'comments/comment-box.html' with comment=subcomment %}
        {% endfor %}
        {% if add_comment_url %}
            {% include 'comments/comment-box-add.html' with parent_id=comment.id %}
        {% endif %}
    </div>
{% endfor %}