{% extends "centerpage.html" %}

{% block title %}Relácie{% endblock %}

{% load user_sessions i18n %}

{% block content %}
  {% trans "<em>neznáme na neznáme</em>" as unknown_on_unknown %}
  {% trans "<em>neznáma</em>" as unknown %}

  <h1>Aktívne relácie</h1>

  <table class="session-list">
    <thead>
      <tr>
        <th>Poloha</th>
        <th>Zariadenie</th>
        <th>Posledná aktivita</th>
        <th>Ukončiť reláciu</th>
      </tr>
    </thead>
    {% for object in object_list %}
      <tr {% if object.session_key == session_key %}class="active"{% endif %}>
        <td>{{ object.ip|location|default_if_none:unknown|safe }} <small>({{ object.ip }})</small></td>
        <td>{{ object.user_agent|device|default_if_none:unknown_on_unknown|safe }}</td>
        <td>
          {% if object.session_key == session_key %}
            {% blocktrans with time=object.last_activity|timesince %}{{ time }} dozadu (táto relácia){% endblocktrans %}
          {% else %}
            {% blocktrans with time=object.last_activity|timesince %}{{ time }} dozadu{% endblocktrans %}
          {% endif %}
        </td>
        <td>
          <form method="post" action="{% url 'user_sessions:session_delete' object.pk %}">
            {% csrf_token %}
            {% if object.session_key == session_key %}
              <button type="submit" class="material-button">{% trans "Ukončiť reláciu" %}</button>
            {% else %}
              <button type="submit" class="material-button">{% trans "Ukončiť reláciu" %}</button>
            {% endif %}
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>

  {% if object_list.count > 1 %}
    <form method="post" action="{% url 'user_sessions:session_delete_other' %}">
      {% csrf_token %}
      <p>{% blocktrans %}Môžete tiež ukončiť všetky relácie okrem tejto.
            Tým sa odhlásite na všetkých ostatných zariadeniach.{% endblocktrans %}</p>
      <button type="submit" class="material-button">{% trans "Ukončiť všetky ostatné relácie" %}</button>
    </form>
  {% endif %}
{% endblock %}
