{% extends "centerpage.html" %}
{% load horam_extras %}
{% block title %}{{ topic.title }} - Fórum{% endblock %}
{% block content %}
    <h1>{{ topic.title }}</h1>
    {% if can_edit %}
    <ul>
        <li><a href="{% url 'topics_edit' topic.id topic.slug %}">Upraviť tému</a></li>
    </ul>
    {% endif %}
    {% render_user_content topic.description %}
    {% include 'comments/list.html' with comments=comments add_comment_url=add_comment_url %}
{% endblock %}