{% extends "centerpage.html" %}
{% block title %}{% if topic_exists %}Upraviť{% else %}Pridať{% endif %} - Téma{% endblock %}
{% block content %}
    {% if topic_exists %}
        <h1>Upraviť tému</h1>
    {% else %}
        <h1>Pridať tému</h1>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="material-button">Uložiť</button>
        <ul>
            {{ form.as_ul }}
        </ul>
    </form>
{% endblock %}