{% extends "centerpage.html" %}
{% block title %}Fórum{% endblock %}
{% block content %}
    <h1>Fórum</h1>
    <ul>
    <li><a href="{% url 'topics_add' %}">Pridať tému</a></li>
    </ul>
    <table>
    <tr>
        <th>Téma</th>
        <th>Komentárov</th>
    </tr>
    {% for topic in topics %}
        <tr>
            <td><a href="{% url 'topics_detail' topic.id topic.slug %}">{{ topic.title }}</a></td>
            <td>{{ topic.comment_count }}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}