{% extends 'centerpage.html' %}

{% block title %}Deaktivovať používateľa{% endblock %}

{% block content %}

<h1>Deaktivovať používateľa {{ member.username }}</h1>

<p>Naozaj deaktivovať používateľa {{ member.username }}?</p>

<form method="post" enctype="multipart/form-data">
{% csrf_token %}
<ul>
    {{ form.as_ul }}
</ul>

<button type="submit" class="material-button">Deaktivovať</button>
</form>

{% endblock %}