{% extends 'centerpage.html' %}

{% block title %}Profil{% endblock %}

{% block content %}

<h1>{{ member.person.nickname }}</h1>

{% if member.person.avatar %}
    <p>
        <img src="{{ member.person.avatar.url }}" alt="Avatar pre {{ member.person.nickname }}"/>
    </p>
{% endif %}

<p>Prezývka: {{ member.person.nickname }}<br />
    Pohlavie: {% if member.person.is_male %}muž{% else %}žena{% endif %}<br />
    E-mail: <a href="mailto:{{ member.email }}">{{ member.email }}</a><br />
    Konto vytvorené: {{ member.date_joined }}<br />
    Naposledy aktívny: {{ member.last_login }}<br />
</p>

{% if can_edit %}
    <ul>
    <li><a href="{% url 'members_edit' member.username %}">Upraviť profil</a></li>
{% if is_self %}
    <li><a href="{% url 'password_change' %}">Zmeniť heslo</a></li>
    <li><a href="{% url 'user_sessions:session_list' %}">Aktívne relácie</a></li>
{% endif %}
{% if can_deactivate %}
    <li><a href="{% url 'members_deactivate' member.username %}">Deaktivovať</a></li>
{% endif %}
    </ul>
{% endif %}

{% endblock %}
