{% extends 'centerpage.html' %}

{% block title %}Profil{% endblock %}

{% block content %}

<h1>Profil</h1>

<form method="post" enctype="multipart/form-data">
{% csrf_token %}
<ul>
    {{ form.as_ul }}
</ul>

<button type="submit" class="material-button">Uložiť zmeny</button>
</form>

{% endblock %}