{% extends 'centerpage.html' %}
{% block title %}Členovia{% endblock %}
{% block content %}
    <h1>Členovia</h1>
    <table>
    {% for member in members %}
        <tr>
            <td>{% include 'avatar.html' with person=member.person %}</td>
            <td><a href="{% url 'members_detail' member.username %}">{{ member.person.nickname }}</a>
                {% if member.is_staff %}<span class="admin-badge">admin</span>{% endif %}
            </td>
            {% if user.is_staff %}
            <td>
                <a href="{% url 'members_edit' member.username %}">upraviť</a>
                <a href="{% url 'admin:web_user_change' member.id %}">admin</a>
            </td>
            {% endif %}
            <td><a href="mailto:{{ member.email }}">{{ member.email }}</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}