{% if person.avatar_thumbnail %}
    <div class="avatar"><img src="{{ person.avatar_thumbnail.url }}" /></div>
{% else %}
    <div class="avatar" style="background-color: {{ person.default_avatar_color }}">{{ person.default_avatar_initials }}</div>
{% endif %}