{% load static %}
<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block no_title %}{% block title %}{% endblock %} - {% endblock %}Horoklub Amater</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500" rel="stylesheet">
    <script src="{% static 'vendor/jquery-3.5.1/jquery-3.5.1.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'vendor/leaflet-1.7.1/leaflet.css' %}" />
    <script src="{% static 'vendor/leaflet-1.7.1/leaflet.js' %}"></script>
    <link rel="stylesheet" href="https://unpkg.com/easymde@2.13.0/dist/easymde.min.css"
          integrity="sha384-hVHWck2ZdBs5LJzfcdGv87I1s6M2GR6EgAgG24i0y8GI5zqQPqs87to9Ec5puHwG"
          crossorigin="anonymous">
    <script src="https://unpkg.com/easymde@2.13.0/dist/easymde.min.js"
          integrity="sha384-q69IkrwuAmvJ6IDzez0h0d4Vz3UvAl+9sieE+ZrX7zoRuMySh4uILKNt8xmf8qcr"
          crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'main.js' %}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous" />
    {% block extra_head %}{% endblock %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32.png' %}">
    <link rel="icon" type="image/png" sizes="48x48" href="{% static 'favicon-48.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'favicon-96.png' %}">
    <link rel="icon" type="image/png" sizes="128x128" href="{% static 'favicon-128.png' %}">
</head>
<body class="menu-default {% block body_class %}{% endblock %}">
    <nav class="menu"><div class="menu-inner"><div class="menu-inner2">
        <ul>
            <li><a href="{% url 'blog_index' %}">Novinky</a></li>
            <li><a href="{% url 'events_index' %}">Plánované akcie</a></li>
            <li><a href="{% url 'events_past' %}">Záznamy z akcií</a></li>
            <li><a href="{% url 'events_calendar' %}">Kalendár akcií</a></li>
            <li><a href="{% url 'events_map' %}">Mapa akcií</a></li>
            <li><a href="{% url 'pages_devinska37' %}">Devínska 37</a></li>
            <li><a href="{% url 'material_index' %}">Materiál</a></li>
            <li><a href="{% url 'pages_zaujimave_odkazy' %}">Zaujímavé odkazy</a></li>
            <li><a href="{% url 'pages_dve_percenta' %}">Darujte 2% z dane</a></li>
            <li><a href="{% url 'pages_onas' %}">O nás</a></li>
            <li><a href="{% url 'pages_stanovy' %}">Stanovy</a></li>
            <li><a href="{% url 'pages_kontakt' %}">Kontakt</a></li>
        </ul>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'activities_index' %}">Čo je nové?</a></li>
                <li><a href="{% url 'members_index' %}">Členovia</a></li>
                <li><a href="{% url 'topics_index' %}">Fórum</a></li>
                {% if current_user.is_staff %}
                    <li><a href="{% url 'admin:index' %}">Admin</a></li>
                {% endif %}
                <li><a href="{% url 'members_detail' user.username %}">Môj profil</a></li>
                <li><a href="{% url 'user_sessions:session_list' %}">Aktívne relácie</a></li>
                <li><a href="{% url 'logout' %}">Odhlásiť</a></li>
            {% else %}
                <li><a href="{% url 'login' %}">Prihlásiť</a></li>
            {% endif %}
        </ul>
    </div></div></nav>
    <div class="content-shade"></div>
    <div class="main">
        <div class="content-wrapper">
            {% if messages %}
            <aside class="flash">
                <ul>
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </aside>
            {% endif %}
            <div class="topbar">
                <div class="menu-toggle" aria-label="prepnúť menu"><i class="fas fa-bars"></i></div>
                {% block topbar %}{% endblock %}
            </div>
            {% block contentlayout %}
            <div class="content">
                {% block content %}{% endblock %}
            </div>
            {% endblock %}
        </div>
    </div>
</body>
</html>
