{% extends 'centerpage.html' %}
{% load static %}
{% block title %}Darujte 2% dane{% endblock %}
{% block content %}
<h1>Darujte 2% dane</h1>
<p>Členovia, priaznivci, aj náhodní okoloidúci.</p>
<p>Chcel by som Vás touto cestou poprosiť o darovanie svojich 2% z dane pre rozvoj a fungovanie Horoklubu Amatér,
    prípadne o šírenie tejto myšlienky a zháňanie čo najväčšieho počtu darcov. Peniaze budú využité na dobrú vec.
    V prvom rade na materiál potrebný pre našu činnosť a aktivity.
    Keďže ide pre niekoho o určitú &quot;papierovú námahu&quot; pripájam postup na vyplnenie formulárov a aj samotný formulár.
</p>
<p>Formulár na stiahnutie: <a href="{% static 'dve-percenta/HoroklubAmater2percenta_2024.pdf' %}" target="_blank">PDF</a>,
    <a href="{% static 'dve-percenta/PotvrdenieOVykone_2023.doc' %}" target="_blank">Potvrdenie pre poukázanie 3%</a>
</p>
<h2>Údaje ktoré treba uviesť do daňového priznania, ak sa rozhodnete svoju časť dane darovať nám</h2>
<p>IČO: <strong>42256186</strong><br />
    Právna forma: <strong>Občianske združenie</strong><br>
    Obchodné meno (názov): <strong>Horoklub Amater</strong><br>
    Sídlo: <strong>Vlárska 10, 831 01 Bratislava</strong>
</p>
<p>Dostupné aj v <a href="https://www.notar.sk/poberatel/?actId=637350aefc459d4d48e471d1">notárskom registri</a>.</p>
<h2>Postup pri poukázaní</h2>
<h3>Ak nepodávate daňové priznanie, (t.j. spadáte do kategórie „zamestnanec“)</h3>
<p>Je možnosť poukázať aj 3% dane, pokiaľ ste počas roka odpracovali viac ako 40 hodín pre organizáciu schopnú prijímať
    dobrovoľnícku činnosť. Takouto organizáciu je aj naše občianske združenie. Jediné čo pre to potrebujete spraviť, je
    priložiť k vášmu ročnému zúčtovaniu potvrdenie o výkone dobrovoľníckej činnosti a vyplniť vyhlásenie o poukázaní
    3%(2%) dane (tlačivo zostáva to isté, len nevyratúvate 2% ale 3% z dane). Samotné potvrdenie nájdete na stiahnutie
    vyššie medzi formulármi (Potvrdenie pre poukázanie 3%), stačí zmeniť iba žltú hlavičku podľa vzoru.</p>
<p>Ďalej postupujte podľa následujúceho návodu:</p>
<ol>
    <li>Požiadajte zamestnávateľa, ktorý Vám vykonal ročné zúčtovanie preddavkov na daň, o vystavenie
        <em>Potvrdenia o zaplatení dane z príjmov zo závislej činnosti za rok 2022</em>, vyplníte <em>Vyhlásenie o
            poukázaní podielu zaplatenej dane z príjmov fyzickej osoby</em>. V
        tlačive uveďte sumu dane, ktorú za Vás zaplatil zamestnávateľ, ďalej napíšte 2% z tejto sumy
        zaokrúhlené nahor. Táto suma však musí byť minimálne 3 €. V prípade preplatku na dani z
        ročného zúčtovania preddavkov na daň sa uvedie 31.marec zdaňovacieho obdobia v ktorom sa
        toto vyhlásenie podáva.
    </li>
    <li>Obidve (všetky tri) tlačivá zašlete alebo odnesiete na príslušný daňový úrad podľa Vášho bydliska
        do 30.4.2023,
        prípadne doručte obe tlačivá mne (Marek), ja to v rámci klubu pošlem.</li>
    <li>V každom prípade by Vám mali v mzdovej učtárni pomôcť pri vypĺňaní tlačív, ak nie, obráťte sa
        priamo na nás, radi Vám poradíme.
    </li>
</ol>
<h3>Fyzické osoby, ktoré si samy podávajú daňové priznanie</h3>
<ol>
    <li>V daňovom priznaní pre fyzické osoby sú už uvedené kolónky na poukázanie 2% z dane v prospech jedného
        prijímateľa. Údaje, ktoré potrebujete do daňového priznania uviesť, ak ste sa rozhodli pre nás, uvádzame vyššie.
    </li>
    <li>Vypočítajte si Vaše 2% z dane z príjmov fyzickej osoby - to je maximálna suma, ktorú môžete poukázať v prospech
        prijímateľa, poukázať môžete aj menej ako 2%, musí však byť splnená podmienka minimálne 3,32 € pre prijímateľa.
    </li>
    <li>Riadne vyplnené daňové priznanie doručte v lehote, ktorú máte na podanie daňového priznania
        (zvyčajne do 31.3.) na Váš daňový úrad (podľa Vášho bydliska) a v tomto termíne aj zaplaťte daň z príjmov.
        Okrem daňového priznania už nepodávate na poukázanie 2% z dane žiadne iné tlačivo, čiže ani samotné tlačivo
        <em>Vyhlásenia pre fyzické osoby</em> už nepodávate.
    </li>
</ol>
{% endblock %}