{% extends 'centerpage.html' %}
{% block title %}Kontakt{% endblock %}
{% block content %}
<h1>Kontakt</h1>
<h2>Kontaktná adresa:</h2>
<p>Horoklub amatér<br />
    Vlárska 10<br />
    83101 Bratislava<br />
    <br />IČO:42256186
</p>
<p>číslo bankového účtu: 2925869081/1100</p>
<p>info@horam.sk</p>
<h2>Klubovňa</h2>
<div class="map" data-lon="17.096190" data-lat="48.170430"></div>
<p>
    Magurská 17<br />
    83101 Bratislava
</p>
<p>
    GPS: 48°10&apos;13.6&quot;N 17°05&apos;46.3&quot;E
</p>
<p>Držitelia kľúčov: Bimbo(Helga), Matula, Bizon, Hajo, Wolker, maly Tomáš, Vnukovci
</p>
<h2>Zodpovední vedúci</h2>
<ul>
    <li>Marek Vnuk - zakladajúci člen, predseda oddielu</li>
    <li>Juraj Hajko - tajomník oddielu</li>
    <li>Miro Bimbo - zakladajúci člen, administrátor stránky</li>
    <li>Tomáš Matula - zakladajúci člen, revízor, administrátor stránky</li>
    <li>Helga Kalinová - hospodár</li>
    <li>Pavel Vnuk - skladník, zodpovedná osoba za servis bicyklov</li>
    <li>Martin Sucha - administrátor stránky</li>
</ul>
{% endblock %}