{% extends 'base.html' %}
{% load static %}
{% block title %}O nás{% endblock %}
{% block contentlayout %}
    <div class="content">
        <div id="onas-logo">
            <a href="{% url 'index' %}"><img src="{% static 'logo.svg' %}" alt="Logo Horoklubu Amatér"
                                             title="Horoklub Amatér"></a>
        </div>
        <div class="centerpage">
            {% if articles %}
                <aside class="novinky">
                    {% for article in articles %}
                        {% include 'blog/article.html' with article=article %}
                    {% endfor %}
                </aside>
            {% endif %}
            <h1>O nás</h1>
            <p>Táto stránka je venovaná členom a kamarátom Horoklubu Amatér. Samozrejme aj všetkým ostatným ktorí
                sa zaujímajú o naše aktivity, prípadne o členstvo v našom klube.</p>
            <p>Sme nezisková organizácia pre podporu nášho pohybu po
                skalách, horách a na bicykli. Ale viac ako organizácia sme oddiel kamarátov, ktorých baví pohyb v
                krásach prírody. Oficiálne sme boli založení 7.9.2011, avšak počiatky siahajú do dávnejších dôb, keď
                sme ešte chodili na strednú školu. V tej dobe sme začínali chodiť spolu na prvé výlety a začínali sme
                spolu liezť prvé steny. </p>
            <p>Postupom času sa pridávali ľudia a naša partia sa rozrastala. Začalo byť potrebné fungovať viac
                organizovane.
                Z tohto dôvodu sme sa rozhodli založiť klub pre naše súčasné a budúce fungovanie a organizovanie akcií.
                Vďaka
                tomu môžme
                organizovať väčšie a lepšie akcie. Ísť ďalej. A v neposlednej rade podporovať ľudí, ktorí nemajú v danej
                chvíli
                všetko potrebné vybavenie alebo potrebné vedomosti.</p>
            <p>V našom klube sa venujeme letným aj zimným športom. Na
                skale, v horách, na bicykloch a aj na vode. Ale lepšie ako dve hodiny čítať je raz zažiť. Ak máš chuť,
                si
                vítaný.</p>
            <p>Čo to o našom klube a jeho aktivitách je možné si aj vypočuť v zázname z relácie rádia Regina
                <a href="https://www.rtvs.sk/radio/archiv/11363/914550">Hosť Panorámy.</a></p>
            <figure>
                <img src="{% static 'o-nas/2.jpg' %}"/>
                <figcaption>Spoločné lezenie v Chorvátskej Paklenici.</figcaption>
            </figure>
            <figure>
                <img src="{% static 'o-nas/3.jpg' %}"/>
                <figcaption>Zimný skialp v Roháčoch.</figcaption>
            </figure>
            <figure>
                <img src="{% static 'o-nas/1.jpg' %}"/>
                <figcaption>Letný prechod v Zakarpatskej Ukrajine.</figcaption>
            </figure>
        </div>
    </div>
{% endblock %}