{% extends 'centerpage.html' %}
{% load static %}
{% block title %}Stanovy{% endblock %}
{% block content %}
<div class="stanovy">
    <h1>Stanovy</h1>
    <p>Horoklub amatér bol založený ako nezisková organizácia pre priateľov a vyznávačov pohybu v prírode dňa 7.9.2011.
        Naše stanovy boli vytvárané s najlepším presvedčením o fungovaní nášho klubu.</p>
    <p>Stanovy na stiahnutie: <a href="{% static 'stanovy/stanovy.doc' %}" target="_blank">doc</a>, <a
            href="{% static 'stanovy/stanovy.pdf' %}" target="_blank">pdf</a></p>

    <h2>Stanovy občianskeho združenia<br />Horoklub Amatér</h2>

    <h3>Článok 1<br />Všeobecné ustanovenia</h3>
    <ol>
        <li>Horoklub Amater je dobrovoľným, mimovládnym a nepolitickým združením, založeným podľa ustanovení zákona
            č. 83/1990 Zb. v znení neskorších predpisov, ktorého predmetom činnosti je organizovanie a rozvoj
            horolezectva, ochrany prírody ako aj všetkých druhov činností spojených s pohybom v prírode.
        </li>
    </ol>

    <h3>Článok 2<br/>Názov a sídlo združenia</h3>
    <ol>
        <li>Názov občianskeho združenia je Horoklub Amater (ďalej Združenie).</li>
        <li>Sídlo združenia je Bratislava 3, Vlárska ul. 10, 831 01.</li>
        <li>Horoklub Amater má pôsobnosť na celom území Slovenskej republiky ako aj v zahraničí.</li>
    </ol>

    <h3>Článok 3<br/>Poslanie a ciele občianskeho združenia</h3>
    <ol>
        <li>Združenie združuje záujemcov o všetky druhy horolezeckých aktivít bez rozdielu národnosti, štátnej
            príslušnosti, rasy, náboženského a politického presvedčenia a je nezávislý a otvorený pre každého, kto
            sa chce podieľať na jeho poslaní.
        </li>
        <li>Cieľom občianskeho združenia je podpora a rozvoj horolezeckého športu a ostatných outdoorových činnosti,
            najmä turistiky a cykloturistiky, vykonávaných na území Slovenskej republiky i v zahraničí.
        </li>
        <li>Poslaním Horoklubu Amater je:
            <ol>
                <li>Podieľať sa svojou činnosťou na ochrane a zveľaďovaní prírody s cieľom zachovať prírodné
                    dedičstvo pre budúce generácie,
                </li>
                <li>Organizovať a zabezpečovať pre členov združenia outdoorové podujatia na Slovensku i v
                    zahraničí
                </li>
                <li>Realizovať outdoorové podujatia so zameraním na horolezectvo, turistiku, vysokohorskú turistiku,
                    cykloturistiku, skialpinizmus a expedície
                </li>
                <li>Rozvíjať a zdokonaľovať schopnosti svojich členov s dôrazom na bezpečnosť pohybu a pobytu vo
                    vysokohorskom prostredí
                </li>
                <li>Spolupracovať s fyzickými a právnickými osobami podobného zamerania</li>
                <li>Vytvárať pre svojich členov systém výhod vyplývajúcich z členstva</li>
                <li>Hájiť záujmy svojich členov vo vzťahu k štátnym, samosprávnym a ostatným inštitúciám a
                    organizáciám
                </li>
                <li>V súlade so svojím poslaním nadobúdať a hospodáriť so svojim majetkom</li>
                <li>Organizačne, metodicky, finančne a materiálne zabezpečovať činnosť a rozvoj združenia.</li>
            </ol>
        </li>
    </ol>

    <h3>Článok 4<br>Právne postavenie združenia</h3>
    <ol>
        <li>Horoklub Amater je právnickou osobou v zmysle § 18, odst. 2, písm. a) Občianskeho zákonníka, zriadené na
            základe Zákona č. 83/1990 Zb. o združovaní občanov, v znení neskorších predpisov.
        </li>
        <li>Právne pomery Združenia sa riadia uvedenými zákonnými ustanoveniami a Stanovami občianskeho združenia
            Horoklub Amater.
        </li>
    </ol>
    <h3>Článok 5<br>Založenie, vznik a zánik združenia</h3>
    <ol>
        <li>Združenie zakladá ustanovujúca členská schôdza, ktorá volí orgány Združenia a schvaľuje stanovy.</li>
        <li>Združenie vzniká schválením a registráciou stanov Ministerstvom vnútra SR.</li>
        <li>Združenie zaniká na základe uznesenia členskej schôdze, zlúčením s iným združením alebo právoplatným
            rozhodnutím Ministerstva vnútra SR o jeho rozpustení.
        </li>
        <li>Pri zániku Združenia dobrovoľným rozpustením vykoná majetkovo-právne vyrovnanie likvidátor menovaný
            najvyšším orgánom Združenia. Členská schôdza zároveň rozhoduje o použití likvidačného zostatku.
        </li>
    </ol>

    <h3>Článok 6<br>Členstvo v združení</h3>
    <ol>
        <li>Členmi Združenia môžu byť právnické a fyzické osoby bez ohľadu na štátnu a občiansku príslušnosť,
            pohlavie, rasu, spoločenské a kultúrne zameranie, vyznanie alebo zdravotný stav, ktorí súhlasia s
            poslaním i cieľmi Združenia a jeho stanovami.
        </li>
        <li>Členstvo v Združení vzniká registráciou záujemcu o členstvo v databáze členov a zaplatením ročného
            členského príspevku. Členský príspevok je dobrovoľný, minimálne však 10€, slovom desať euro.
        </li>
        <li>Člen Združenia sa podieľa na činnosti Združenia, prispieva k jeho rozvoju, vyhľadáva a navrhuje nové
            formy aktivít a ich realizáciu v súlade so stanovami.
        </li>
        <li>Členovia Horoklubu Amater majú tieto práva:
            <ol>
                <li>zúčastňovať sa podľa svojej potreby na športovej a spoločenskej činnosti, ktorú organizuje
                    Horoklub Amater,
                </li>
                <li>využívať všetky výhody poskytované Horoklubom Amater,</li>
                <li>zúčastňovať sa na rokovaní orgánov Horoklubu Amater,</li>
                <li>obracať sa na orgány Horoklubu Amater s podnetmi, návrhmi, pripomienkami, sťažnosťami a žiadať
                    na ne vyjadrenie,
                </li>
                <li>byť informovaný o činnosti a hospodárení Horoklubu Amater,</li>
                <li>využívať materiál a zariadenia, ktoré má Horoklub Amater vo vlastníctve a prenájme (na základe
                    nájomných zmlúv)
                </li>
                <li>byť volený do všetkých orgánov Horoklubu Amater pričom podmienkou je vek nad 18 rokov.</li>
            </ol>
        </li>
        <li>Členovia majú tieto povinnosti:
            <ol>
                <li>dodržiavať Stanovy Horoklubu Amater a iné vnútorné poriadky klubu vydané na základe stanov,</li>
                <li>dodržiavať všeobecne platné a športové princípy morálky a etiky,</li>
                <li>aktívne sa podieľať na činnosti klubu a riadne vykonávať prijaté funkcie,</li>
            </ol>
        </li>
        <li>Členstvo v Združení zaniká vystúpením, vylúčením, úmrtím člena, alebo zánikom Združenia. O vylúčení
            člena rozhoduje predsedníctvo Združenia. Členstvo je neprenosné.
        </li>
    </ol>

    <h3>Článok 7<br>Orgány združenia</h3>
    <ol>
        <li>Členská schôdza:
            <ol>
                <li>Členská chôdza je najvyšším orgánom Združenia.</li>
                <li>Členská chôdza je verejným stretnutím členov Združenia, ktoré sa schádza pred každou závažnejšou
                    zmenou rozhodnutí, najmenej však dvakrát ročne.
                </li>
                <li>Členskú schôdzu zvoláva predsedníctvo oznámením všetkým členom minimálne 10 dní pred jej
                    uskutočnením.
                </li>
                <li>Členská chôdza je uznášania schopná za prítomnosti nadpolovičného počtu všetkých členov
                    Združenia.
                </li>
                <li>Členská chôdza Združenia prejednáva, dopĺňa a schvaľuje koncepčné zmeny, zámery a plány činnosti
                    Združenia,
                    schvaľuje stanovy, volí a odvoláva predsedníctvo, dozornú radu a predsedu Združenia.
                </li>
                <li>Členská chôdza prijíma svojej rozhodnutia nadpolovičnou väčšinou všetkých zúčastnených členov
                </li>
                <li>Členská schôdza je verejná formou prístupu verejnosti a informačných médií. V
                    prípadoch prerokovania závažných dokumentov môže predsedníctvo
                    rozhodnúť o čiastočne alebo úplne uzavretom rokovaní.
                </li>
            </ol>
        </li>
        <li>Predsedníctvo:
            <ol>
                <li>Predsedníctvo je výkonným orgánom Združenia, ktorý zabezpečuje jeho
                    činnosť podľa rozhodnutí schválených členskou schôdzou.
                </li>
                <li>Predsedníctvo je zložené z troch členov, a to predseda, tajomník a hospodár. Volí a
                    odvoláva ho členská schôdza. Členom predsedníctva sa môže stať
                    každý člen Združenia, ktorého zvolí členská schôdza.
                </li>
                <li>Volebné obdobie predsedníctva je jeden rok.</li>
                <li>Predsedníctvo sa schádza podľa potreby, najmenej však jedenkrát za dva mesiace.</li>
                <li>Predsedníctvo má právomoc rozhodovať o realizácii cieľov Združenia, výške členského a
                    všetkých aktivitách smerom k verejnosti.
                </li>
                <li>Predsedníctvo si spomedzi svojich členov volí predsedu, ktorý je zároveň predsedom
                    Združenia a jeho štatutárnym zástupcom a ktorý vystupuje navonok
                    v mene poslania a cieľov Združenia. V
                    jeho neprítomnosti ho zastupuje predsedníctvom poverený jeho člen.
                </li>
                <li>V prípade potreby členská schôdza doplní počet členov predsedníctva na schválený počet.
                </li>
            </ol>
        </li>
        <li>Dozorná rada:
            <ol>
                <li>Dozorná rada je nezávislým orgánom Združenia.</li>
                <li>Členstvo v dozornej rade je nezlučiteľné s členstvom v predsedníctve.</li>
                <li>Dozorná rada má jedného člena. Volí a odvoláva ju členská schôdza.</li>
                <li>Dozorná rada kontroluje činnosť predsedníctva a Združenia ako celku.</li>
                <li>Člen dozornej rady má právo zúčastňovať sa zasadnutí predsedníctva s hlasom
                    poradným.
                </li>
                <li>Dozorná rada jedenkrát do roka predkladá členskej schôdzi
                    záverečnú správu o kontrole činnosti Združenia a jeho orgánov za
                    predchádzajúce obdobie.
                </li>
            </ol>
        </li>
    </ol>

    <h3>Článok 8<br>Hospodárenie združenia</h3>
    <ol>
        <li>Hospodárenie Združenia:
            <ol>
                <li>Združenie si podľa legislatívnych pravidiel nadobúda finančné a materiálové
                    prostriedky na zabezpečenie svojej činnosti prostredníctvom:
                    <ul>
                        <li>dotácií,</li>
                        <li>darov a dobrovoľných príspevkov,</li>
                        <li>zbierok,</li>
                        <li>grantov,</li>
                        <li>členských príspevkov,</li>
                        <li>vlastnej činnosti.</li>
                    </ul>
                </li>
                <li>O nakladaní s finančnými a materiálovými prostriedkami Združenia do výšky 200€ rozhoduje
                    predseda Združenia súčasne s
                    hospodárom Združenia. O nakladaní s finančnými a materiálovými
                    prostriedkami Združenia do výšky 1000€ rozhoduje predsedníctvo. O nakladaní s prostriedkami nad
                    1000€ rozhoduje členská schôdza.
                </li>
                <li>Poskytovateľ prostriedkov má právo kontrolovať ich hospodárne a ekonomické využitie. Prostriedky
                    Združenia, ktoré sú účelovo viazane, môžu byť použité iba na konkrétny určený cieľ.
                </li>
                <li>Združenie vedie účtovníctvo v súlade s právnymi predpismi.</li>
                <li>Finančnú agendu Združenia vedie hospodár, ktorý zabezpečuje jej presnú evidenciu. Hospodára volí
                    členská schôdza na obdobie jeden rok.
                </li>
                <li>Vyúčtovanie prostriedkov a finančnú agendu kontroluje dozorná rada Združenia. Vyhodnotenie
                    nakladania s finančnými prostriedkami je súčasťou záverečnej správy o činnosti Združenia,
                    predkladanej dozornou
                    radou na členskej schôdzi Združenia.
                </li>
                <li>Združenie v prípade potreby umožní kontrolu aj
                    iným kontrolným a revíznym orgánom, pokiaľ na to majú
                    oprávnenie.
                </li>
            </ol>
        </li>
        <li>Bankový účet:
            <ol>
                <li>Združenie má zriadený bankový účet.</li>
                <li>Názov účtu je totožný s názvom Združenia.</li>
                <li>V prípade potreby si Združenie založí devízový účet.</li>
                <li>Podpisový vzor na manipuláciu s účtom a všetky zmeny bankového účtu, ako aj vklady a výbery
                    potvrdzuj svojim podpisom predseda Združenia alebo jeden zo zakladajúcich členov Združenia.
                </li>
            </ol>
        </li>
        <li>Peniaze v hotovosti:
            <ol>
                <li>V hotovosti sa platia drobné nákupy potrebné na zabezpečenie činnosti Združenia.</li>
                <li>Peniaze v hotovosti sú uložené v pokladni Združenia, ktorá je v správe hospodára
                    Združenia.
                </li>
                <li>Hospodár vedie o stave pokladne presnú evidenciu.</li>
                <li>V pokladni môže byť v hotovosti maximálne 100€. V prípade prekročenia tejto sumy musí
                    byť prebytok poukázaný na účet Združenia.
                </li>
            </ol>
        </li>
    </ol>

    <h3>Článok 9<br />Záverečné ustanovenia</h3>
    <ol>
        <li>Tieto stanovy nadobúdajú účinnosť ich schválením členskou schôdzou
            Združenia, schválením a registráciou Ministerstvom vnútra SR.
        </li>
        <li>Združenie je právny subjekt.</li>
        <li>Kontrola činnosti Združenia verejnosťou je zaistená.</li>
        <li>Združenie vo všetkých relevantných materiáloch uvádza meno alebo názov sponzorov, darcov a iných
            subjektov, ktoré prispeli na realizáciu konkrétnych aktivít, pokiaľ s tým súhlasia.
        </li>
    </ol>
    <p>V Bratislave, dňa 17. Júna 2011.</p>
</div>
{% endblock %}