{% extends 'centerpage.html' %}
{% block title %}Zaujímavé odkazy{% endblock %}
{% block content %}
    <h1>Zaujímavé odkazy</h1>
    <p>Pokiaľ niekto máte zaujímavý link, tak napíšte niektorému z adminov, nech aj ostatní vedia.</p>
    <h2>Mapy, sprievodcovia</h2>
    <ul>
        <li><a href="http://www.tatry.nfo.sk/" target="_blank">Tatry.info</a> - sprievodca tatranských stien</li>
        <li><a href="http://www.bergsteigen.at/de/default.aspx" target="_blank">Bergsteigen</a> - sprievodca pomaly po
            celých alpách
        </li>
        <li><a href="http://www.goat.cz/index.php?path=VysokeTatry_Vrcholy_Vrcholy" target="_blank">Průvodce tatranskými
            vrcholy</a> - sprievodca výstupov na tatranské vrcholy a lezenia v Čechách, ignorovať ostatné žvásty
        </li>
    </ul>
    <h2>Horolezectvo</h2>
    <ul>
        <li><a href="http://www.james.sk/default1.asp?pageid=1&portal_id=1" target="_blank">Slovenský horolezecký
            spolok</a></li>
        <li><a href="http://laviny.sk/" target="_blank">Laviny.sk</a> - informácie o lavinóznej situácii na Slovensku
        </li>
        <li><a href="http://www.lezec.cz/" target="_blank">Lezec.cz</a> - portál o lezení a horolezectve</li>
        <li><a href="http://horovsb.mrak.cz/files/uzly.pdf" target="_blank">Uzly</a> - pdf so všetkými potrebnými uzlami
        </li>
        <li><a href="http://www.hzs.sk/" target="_blank">Horská záchranná služba</a></li>
        <li><a href="http://www.horolezeckametodika.cz/" target="_blank">Horolezecká metodika</a> -&nbsp;&nbsp;internetová
            učebnica horolezectva
        </li>
        <li><a href="http://www.zodratabota.szm.com/metodikavht.html" target="_blank">Zodratá bota</a> - Pekne písané
            typy triky na lezenie ľadov ale aj ďalšia metodika
        </li>
        <li><a href="http://www.climbing.com/" target="_blank">climbing</a> - zahraničný portál o veciach zo sveta
            lezenia
        </li>
        <li><a href="http://www.pksoft.sk/encian/terminy.php" target="_blank">Horoškola Encián</a> - kurzy všetkých
            odvetví horolezectva
        </li>
    </ul>
    <h2>Turistika</h2>
    <ul>
        <li><a href="http://www.kst.sk/" target="_blank">Klub slovenských turistov</a></li>
        <li><a href="http://www.horyinfo.cz/" target="_blank">Horyinfo</a> - web o novinkách z hôr a skál</li>
        <li><a href="http://hiking.sk/" target="_blank">Hiking.sk</a></li>
        <li><a href="http://www.colltex.ch/" target="_blank">Colltex</a> - oficiálna stránka výrobcu pásov Colltex so
            zaujímavými inštruktážnymi videami
        </li>
    </ul>
    <h2>Cyklistika</h2>
    <ul>
        <li><a href="http://www.mtbiker.sk/" target="_blank">mtbiker</a> - web o všetkom zo sveta cyklistiky</li>
        <li><a href="http://www.sicklines.com/" target="_blank">SickLines</a> - zahraničný web o všetkom zo sveta
            horskej cyklistiky
        </li>
        <li><a href="http://www.vitalmtb.com/" target="_blank">Vital MTB</a> - zahraničný web o všetkom zo sveta horskej
            cyklistiky
        </li>
        <li><a href="http://www.pinkbike.com/" target="_blank">Pinkbike</a> - zahraničný web o všetkom zo sveta horskej
            cyklistiky
        </li>
        <li><a href="http://www.mtbr.com/" target="_blank">MTBr</a> - zahraničný web o všetkom zo sveta horskej
            cyklistiky
        </li>
        <li><a href="http://www.ivelo.cz/" target="_blank">iVelo</a> - stránka českého cyklistického časopisu aj s
            dobrými servisnými návodmi
        </li>
        <li><a href="http://www.bike-forum.cz/" target="_blank">bike forum</a> - české fórum zamerané na všetko z
            oblasti cyklistiky
        </li>
    </ul>
    <h2>Rôzne</h2>
    <ul>
        <li><a href="http://www.infinitylist.com" target="_blank">infinity list</a> - filmiky z rôznych športových
            okruhov
        </li>
        <li><a href="http://www.outdoorfilmy.sk/" target="_blank">Outdoor film</a> - filmy zo sveta outdooru</li>
    </ul>
{% endblock content %}