{% extends 'emails/base.html' %}
{% load horam_extras %}
{% block content %}
    <p>Ahoj,</p>

    <p>na Horoklube sa udiala novinka, ktorá by ťa mohla zaujímať:</p>

    <p>{% activity_description activity formatter=activity_formatter %}</p>

    {% activity_detail activity as detail %}
    {% if detail %}<blockquote>{{ detail }}</blockquote>{% endif %}
{% endblock %}