<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <title>{{ subject }}</title>
</head>
<body>
{% block content %}{% endblock %}

<p>Pokiaľ si neželáš dostávať e-maily o novinkách na Horoklube, môžeš ich vypnúť po prihlásení v nastaveniach svojho konta.</p>

<p>Pekný deň!</p>
</body>
</html>