{% extends 'emails/base.html' %}
{% load horam_extras %}
{% block content %}
    <p>Ahoj {{ user.username }},</p>

    <p>vitaj v Horoklube Amatér!</p>

    <p>Vytvorili sme Ti konto na našej webstránke https://horam.sk</p>

    <p>Tvoje prihlasovacie meno: {{ user.username }}<br />
        E-mail: {{ user.email }}</p>

    <p>Pred prvým prihlásením si nastav heslo pomocou funkcie "Zabudnuté heslo":</p>

    <p><a href="{{ password_reset_link }}">{{ password_reset_link }}</a></p>

    <p>Po prihlásení si pozri nastavenia svojho profilu na adrese</p>

    <p><a href="{{ profile_edit_link }}">{{ profile_edit_link }}</a></p>
{% endblock %}