{% extends 'centerpage.html' %}
{% load static %}
{% block title %}Devínska 37 rok 2018{% endblock %}
{% block content %}
<h1>Devínska 37 rok 2018</h1>
<p>Ahoj turisti,<br>
    pozývame Vás všetkých na <b>30. ročník</b> Devínskej 37, ktorá sa bude konať:<br>
    <b>v sobotu 21.4.2018</b></p>
<p><a href="https://www.facebook.com/events/424066101382753/" target="_blank">Nájdete nás aj na Facebooku</a></p>
<p><img class="defaultimg" src="{% static 'devinska37/small_pozvanka_2018.jpg' %}"></p>

<h2>Prehľad trás</h2>

<h3>Pešia trasa A: Svätý Jur - Devín (37km, 1300m prevýšenie)</h3>
<p><b>Trasa:</b> Svätý Jur – Biely Kameň – Biely Kríž – Pánova Lúka – Pekná cesta – Kamzík – Lamač – Dúbravka –
    Devínska Kobyla – Sandberg – Devín<br>
    <b>Štart:</b> 7:00 – 8:00 hod. Železničná stanica Svätý Jur<br>
    <b><a href="https://www.google.com/maps/d/viewer?hl=sk&authuser=0&mid=1g06VHmgcWqeDvB7LflMf3hUU2t4&ll=48.21899574671842,17.09569999449991&z=12" target="_blank">Google mapa</a>,
    <a href="{% static 'devinska37/Devinska_37-FINAL.gpx' %}" target="_blank">GPX súbor</a>,
    <a href="{% static 'devinska37/profil-37-FINAL-2.png' %}" target="_blank">Profil trasy</a></b>
</p>

<h3>Pešia trasa B: Dúbravka - Devín (11km, 500m prevýšenie)</h3>
<p><b>Trasa:</b> Bratislava Dúbravka – Devínska Kobyla&nbsp;&nbsp;– Sandberg – Devín<br>
    <b>Štart:</b> 9:30 – 16:00 hod. Pred Domom Kultúry Dúbravka<br>
    <b><a href="https://www.google.com/maps/d/viewer?hl=sk&authuser=0&mid=1GcIijWuZgFn41h4NTz5lJFD32Cs&ll=48.18882524709237,17.006074693000073&z=14" target="_blank">Google mapa</a>,
        <a href="{% static 'devinska37/Devinska_37-11-FINAL.gpx' %}" target="_blank">GPX súbor</a>,
        <a href="{% static 'devinska37/profil-11-FINAL-2.png' %}" target="_blank">Profil trasy</a></b>
</p>

<h3>Cyklotrasa: Račianske mýto - Devín (55km)</h3>
<p><b>Trasa:</b>Bratislava Račianske mýto – Svätý Jur – Biely Kríž – Borinka – Stupava – Devínske Jazero – Devín<br>
    <b>Štart:</b>&nbsp;&nbsp;9:30 Račianske mýto (registrácia od 9:00)</p>
<p><b>Štartovné:</b> ako aj po ostatné roky, zadarmo :)</p>

<h2>Čo nové sa chystá?</h2>
<p>Keďže oslavujeme 30. ročník, chceli by sme pripraviť niečo extra, treba sa nechať prekvapiť. Tiež si pripomenieme,
    čo sa za tie roky udialo, malú ukážku je možné pozrieť si tu:
    <a href="/page/view/devinska-37-historia" target="_blank">História Devínskej 37</a>.
    Tento rok by sme už chceli mať vychytané všetky chyby z minulých ročníkov (občerstvenie, veľkosť sprievodných
    materiálov, atď... )</p>
<p>Mierne sme tiež upravili oficiálnu cyklotrasu, ktorá bude viesť celá po asfaltovom povrchu - z Bieleho kríža sa bude
    vracať naspať smerom na Borinku, kým v minulosti viedla okolo Slivu a cez Marianku.</p>

<h2>Cieľ</h2>
<p>Cieľ bude, tak ako minulý rok, na futbalovom ihrisku pri konečnej autobusu č. 29 pod Hradom Devín do 17:30.</p>
<div class="map" data-lon="16.979413033" data-lat="48.176496125"></div>

<h2>Organizátori</h2>
<p><b>TJ Tatran Devín a Horoklub Amatér</b></p>
<p><img class="defaultimg" src="{% static 'devinska37/skupina2.jpg' %}"></p>
<p>V prípade akýchkoľvek otázok nás neváhajte kontaktovať na našej emailovej adrese: info@horam.sk</p>
{% endblock %}