{% extends 'centerpage.html' %}
{% load static %}
{% block title %}Devínska 37 rok 2019{% endblock %}
{% block content %}
<div id="d37-content">
<img style="float:right; width:200px; padding-right:15px" src="{% static 'devinska37/D37-LOGO.png' %}">
<h1>Devínska 37 rok 2019 </h1>

<p>Ahoj turisti,<br>
    pozývame Vás všetkých na 31. ročník Devínskej 37, ktorá sa bude konať:<br>
    <b>v sobotu 27.4.2019</b></p>

<p>Štartovné: ako aj po ostatné roky, zadarmo :)</p>

<p>Pridajte sa ku nám na <a target="_blank" href="https://www.facebook.com/events/245729356379675/">Facebooku</a>.</p>

<h2>Prehľad trás</h2>

Pešia trasa A: Svätý Jur - Devín (37km, 1300m prevýšenie)
<p class="track-info"><b>Trasa:</b> Svätý Jur – Biely Kameň – Biely Kríž – Pánova Lúka – Pekná cesta – Kamzík – Lamač – Dúbravka –
    Devínska Kobyla – Sandberg – Devín<br>
    <b>Štart:</b> 7:00 – 8:00 hod. Železničná stanica Svätý Jur<br>
    <a href="https://www.google.com/maps/d/viewer?hl=sk&authuser=0&mid=1g06VHmgcWqeDvB7LflMf3hUU2t4&ll=48.21899574671842,17.09569999449991&z=12" target="_blank">Google mapa</a>,
    <a href="{% static 'devinska37/Devinska_37-FINAL.gpx' %}" target="_blank">GPX súbor</a>,
    <a href="{% static 'devinska37/profil-37-FINAL-2.png' %}" target="_blank">Profil trasy</a>
</p>

Pešia trasa B: Dúbravka - Devín (11km, 500m prevýšenie)
<p class="track-info"><b>Trasa:</b> Bratislava Dúbravka – Devínska Kobyla&nbsp;&nbsp;– Sandberg – Devín<br>
    <b>Štart:</b> 9:30 – 16:00 hod. Pred Domom Kultúry Dúbravka<br>
    <a href="https://www.google.com/maps/d/viewer?hl=sk&authuser=0&mid=1GcIijWuZgFn41h4NTz5lJFD32Cs&ll=48.18882524709237,17.006074693000073&z=14" target="_blank">Google mapa</a>,
        <a href="{% static 'devinska37/Devinska_37-11-FINAL.gpx' %}" target="_blank">GPX súbor</a>,
        <a href="{% static 'devinska37/profil-11-FINAL-2.png' %}" target="_blank">Profil trasy</a>
</p>

Cyklotrasa: Račianske mýto - Devín (55km)
<p class="track-info"><b>Trasa:</b>Bratislava Račianske mýto – Svätý Jur – Biely Kríž – Borinka – Stupava – Devínske Jazero – Devín<br>
    <b>Štart:</b>&nbsp;&nbsp;9:30 Račianske mýto (registrácia od 9:00)</p>

<h2>Cieľ</h2>
<p>Cieľ bude, tak ako minulý rok, na futbalovom ihrisku pri konečnej autobusu č. 29 pod Hradom Devín do 17:30.</p>
<div class="map" data-lon="16.979413033" data-lat="48.176496125"></div>

<h2>Fotky z 30. ročníka</h2>
<p><b>Hromadná fotka z cieľa</b></p>
<p><img class="defaultimg" src="{% static 'devinska37/skupina2018_2.jpg' %}"></p>
<p><b>Organizátori: Horoklub Amatér a Tatran Devín</b></p>
<p><img class="defaultimg" src="{% static 'devinska37/skupina2018.jpg' %}"></p>
<p>Pozrite si aj <a href="{% url 'pages_devinska37_historia' %}">celú históriu Devínskej 37</a></p>

<h2>Kontakt</h2>
<p>V prípade akýchkoľvek otázok nás neváhajte kontaktovať na našej emailovej adrese: info@horam.sk</p>
</div>
{% endblock %}