{% extends 'centerpage.html' %}
{% load static %}
{% block title %}Devínska 37 rok 2021{% endblock %}
{% block content %}
<div id="d37-content">
<img style="float:right; width:30%; padding-right:15px" src="{% static 'devinska37/D37-LOGO.png' %}">
<h1>Devínska 37 rok 2021</h1>

<p>Ahoj turisti,</p>
<p>bohužiaľ aj tento rok sme nútení z dôvodu koronavírusu Devínsku 37 zrušiť. Konanie akcie, ale aj jej samotná prírava, by si vyžiadala mnohé osobné stretnutia, ktorým sa však snažíme v týchto dňoch vyvarovať. Veríme, že do budúceho roka sa táto situácia upokojí a opäť sa uvdíme :)</p>
<p>Vďaka za pochopenie!</p>

<h2 style="color:red">Devínska 37 2021 je zrušená</h2>
{% endblock %}
