{% extends 'centerpage.html' %}
{% load static %}
{% block title %}Devínska 37 rok 2023{% endblock %}
{% block content %}
<div id="d37-content">
<img style="float:right; width:200px; padding-right:15px" src="{% static 'devinska37/D37-LOGO.png' %}">
<h1>Devínska 37 rok 2023 </h1>

<p>Ahoj turisti,<br>
    pozývame Vás všetkých na 33. ročník Devínskej 37, ktorá sa bude konať:<br>
    <b>v sobotu 15.4.2023</b></p>

    <h2>Drobné zmeny na trase</h2>
    Tento rok sme mierne pozmenili trasu našich peších turistických trás, rozhodne sa jedná o zlepšenie :)
    <ul>
        <li>od Bieleho kríža po Pánovu lúku sa ide lesom po novovyznačenej červenej značke (len&nbsp;Pešia&nbsp;trasa&nbsp;A)</li>
        <li>cez Devínsku kobylu sa už prechádza priamo cez areál bývalej raketovej základne a rozhľadňu</li>
    </ul>

    <h2>Prehľad trás</h2>

Pešia trasa A: Svätý Jur - Devín (37km, 1300m prevýšenie)
<p class="track-info"><b>Trasa:</b> Svätý Jur – Biely Kameň – Biely Kríž – Pánova Lúka – Pekná cesta – Kamzík – Lamač – Dúbravka –
    Devínska Kobyla – Sandberg – Devín<br>
    <b>Štart:</b> 7:00 – 8:00 hod. Železničná stanica Svätý Jur<br>
    <a href="https://www.google.com/maps/d/viewer?mid=1TD6Dm111u4mC2C-m9YQZoARR_A-KCf4&ll=48.218674652263445%2C17.096009499999994&z=12" target="_blank">Google mapa</a>,
    <a href="{% static 'devinska37/Devinska_37-2023.gpx' %}" target="_blank">GPX súbor</a>,
    <a href="{% static 'devinska37/profil-37-2023.jpg' %}" target="_blank">Profil trasy</a>
</p>

Pešia trasa B: Dúbravka - Devín (11km, 500m prevýšenie)
<p class="track-info"><b>Trasa:</b> Bratislava Dúbravka – Devínska Kobyla&nbsp;&nbsp;– Sandberg – Devín<br>
    <b>Štart:</b> 9:30 – 16:00 hod. Pred Domom Kultúry Dúbravka<br>
    <a href="https://www.google.com/maps/d/edit?mid=1_ohENxiwzAC8m7QWXL1nOdy2rIgu51g&usp=sharing" target="_blank">Google mapa</a>,
        <a href="{% static 'devinska37/Devinska_37-2023-kratka.gpx' %}" target="_blank">GPX súbor</a>,
        <a href="{% static 'devinska37/profil-11-2023.jpg' %}" target="_blank">Profil trasy</a>
</p>,

Cyklotrasa: Račianske mýto - Devín (55km)
<p class="track-info"><b>Trasa:</b>Bratislava Račianske mýto – Svätý Jur – Biely Kríž – Borinka – Stupava – Devínske Jazero – Devín<br>
    <b>Štart:</b>&nbsp;&nbsp;9:30 Račianske mýto (registrácia od 9:00)</p>

<h2>Cieľ</h2>
<p>Cieľ bude, tak ako minulý rok, pri parkovisku pod Hradom Devín do 17:30.</p>
<div class="map" data-lon="16.9791906" data-lat="48.1759750"></div>

<h2>Kontakt</h2>
<p>V prípade akýchkoľvek otázok nás neváhajte kontaktovať na našej emailovej adrese: info@horam.sk</p>
</div>
{% endblock %}
