{% extends 'centerpage.html' %}
{% load static %}
{% block title %}Devínska 37 rok 2024{% endblock %}
{% block content %}
<div id="d37-content">
<img style="float:right; width:200px; padding-right:15px" src="{% static 'devinska37/D37-LOGO.png' %}">
<h1>Devínska 37 rok 2024</h1>

<p>Ahoj turisti,<br>
    pozývame Vás všetkých na 34. ročník Devínskej 37, ktorá sa bude konať:<br>
    <b>v sobotu 27.4.2024</b></p>
    
    <h2>Novinky v roku 2024</h2>
    <ul>
        <li><b>Cyklo - zmena štartu!</b> - tento rok sa štartuje od Figara</li>
        <li>Drobné zmeny na pešej trase</li>
    </ul>

<h2>Pešia trasa A: Svätý Jur - Devín (37km, 1300m prevýšenie)</h2>
<p class="track-info"><b>Trasa:</b> Svätý Jur – Biely Kameň – Biely Kríž – Pánova Lúka – Pekná cesta – Kamzík – Červený most – Lamač – Dúbravka –
    Devínska Kobyla – Sandberg – Devín<br>
    <b>Štart:</b> 7:00 – 8:00 hod. Železničná stanica Svätý Jur<br>
    <a href="https://www.google.com/maps/d/viewer?mid=1zUHMpdWHezRu9kA64k-RGrYEyNt0z9g&ll=48.21751763887808%2C17.096009499999994&z=12" target="_blank">Google mapa</a>,
    <a href="{% static 'devinska37/Devinska_37-2024.gpx' %}" target="_blank">GPX súbor</a>,
    <a href="{% static 'devinska37/profil-37-2024.png' %}" target="_blank">Profil trasy</a>
</p>
<p class="track-info">Tento rok sme opäť mierne pozmenili trasu našej pešej turistickej trasy A:</p>
    <ul>
        <li>od Pánovej lúky sa ide lesom po novovyznačenej červenej značke</li>
        <li>od Kamzíka sa pokračuje po červenej značke cez rozhľadňu Americké námestie po rázcestník Pri Červenom moste, kúsok po žltej pod Červený most a následne opäť po červenej na Klanec</li>
        <li><b>kontrolný bod už nie je na Kamzíku, ale pri rozhľadňi na Americkom námestí</b></li>
    </ul>
<p class="track-info">Minuloročné zmeny ostávajú ako boli:</p>
    <ul>
        <li>od Bieleho kríža po Pánovu lúku sa ide lesom po novovyznačenej červenej značke (len&nbsp;Pešia&nbsp;trasa&nbsp;A)</li>
        <li>cez Devínsku kobylu sa už prechádza priamo cez areál bývalej raketovej základne a rozhľadňu</li>
    </ul>

<h2>Pešia trasa B: Dúbravka - Devín (11km, 500m prevýšenie)</h2>
<p class="track-info"><b>Trasa:</b> Bratislava Dúbravka – Devínska Kobyla&nbsp;&nbsp;– Sandberg – Devín<br>
    <b>Štart:</b> 9:30 – 16:00 hod. Pred Domom Kultúry Dúbravka<br>
    <a href="https://www.google.com/maps/d/edit?mid=1_ohENxiwzAC8m7QWXL1nOdy2rIgu51g&usp=sharing" target="_blank">Google mapa</a>,
        <a href="{% static 'devinska37/Devinska_37-2023-kratka.gpx' %}" target="_blank">GPX súbor</a>,
        <a href="{% static 'devinska37/profil-11-2023.jpg' %}" target="_blank">Profil trasy</a>
</p>

<h2>Cyklotrasa: Figaro - Devín (55km)</h2>
<p>Prosím pozor, <br>
    <b>tento rok sa štartuje od Figara,</b> z križovatky Sliačska / Račianska<br>
    (už nie z Račianskeho mýta ako kedysi)</p>
    <div style="width:300px; height: 200px;" class="map" data-lon="17.126524" data-lat="48.172785"></div>
<p class="track-info"><b>Trasa:</b> Figaro – Svätý Jur – Biely Kríž – Borinka – Stupava – Devínske Jazero – Devín<br>
    <b>Štart:</b>&nbsp;&nbsp;9:30 parkovisko na rohu ulíc Sliačska a Račianska (oproti Figaro)</p>

<h2>Cieľ</h2>
<p>Cieľ bude, tak ako minulý rok, pri parkovisku pod Hradom Devín do 17:30.</p>
<div class="map" data-lon="16.9791906" data-lat="48.1759750"></div>

<h2>Kontakt</h2>
<p>V prípade akýchkoľvek otázok nás neváhajte kontaktovať na našej emailovej adrese: info@horam.sk</p>
</div>
{% endblock %}
