{% extends 'centerpage.html' %}
{% load static %}
{% block title %}Devínska 37 História{% endblock %}
{% block content %}
<h1>Devínska 37 História</h1>
<h2>Úvod</h2>
<p>Keďže sa tento rok usporiada už okrúhly 30. ročník Devínskej 37 a cítime, že to už je úctyhodný čas, dovolili sme si
    pripraviť &quot;stručný&quot; prierez jej histórie. Veríme, že sa k nám pridáte pri písaní ďalších kapitol. :)</p>

<h2>1988</h2>
<p>História tohoto podujatia sa začala písať jeho 0-tým ročníkom, bez účasti verejnosti. Nedá sa napísať nič lepšie,
    ako prepísať text z úvodnej strany kroniky, ktorý trochu úsmevne, ale veľmi verne zachytáva vtedajšiu atmosféru a
    myšlienku zrodenia Devínskej 37.</p>
<blockquote>
    <p>Už dlhšiu dobu sme sa vo výbore bavili o vzniku ďiaľkového pochodu, ktorý by niesol naše meno, ktorý by
        propagoval pohyb v prekrásnom prostredí Malých Karpát a hlavne aby propagoval náš staroslávny hrad
        &quot;Devín&quot;.</p>
    <p>Ďalším dôvodom bolo vytvorenie diaľkového pochodu, ktorý by pomohol splniť podmienky oblastných odznakov:
        &quot;Malé Karpaty&quot;, &quot;Hrady Malých Karpát&quot;, &quot;Cesta hrdinov SNP&quot; a hlavne
        &quot;BRATISLAVA&quot;. Pripravuje sa oblastný odznak &quot;Hrady a zámky Slovenska&quot;.</p>
    <p>Trasa zďaleka nevznikala jednoducho. Hlavným problémom bolo prekonať oblasť mesta a dostať sa do masívu Kobyly.
        Padlo veľa návrhov. No myslím si, že sme na nultý ročník vybrali dobrú trasu. Tá sa bude vylepšovať a pretvárať
        podľa pripomienok účastníkov a nových možností nášho odboru turistiky.</p>
    <p>Dúfajme, že prvý ročník sa vydarí a nájde si svoje miesto v turistických kalendároch mnohých turistov v celej
        republike i v zahraničí. Preto držím palce všetkým, ktorí prvý ročník budú pripravovať. Základný kameň je
        položený.</p>
</blockquote>

<h2>15.4.1989</h2>
<p>Prvý ročník Devínskej 37 sa zrodil ešte za bývalého režimu a organizoval ho turistický oddiel s názvom
    &quot;Vzorný odbor turistiky TJ Tatran Devín ObV ZT ČSZTV Bratislava IV&quot; :) Vďaka mnohým rokom personálnych,
    spoločenských a kultúrnych zmien sa síce v tomto klube a v organizácii tejto akcie zmenilo veľmi veľa, niektoré veci
    však ostali 30 rokov rovnaké. Devínska 37 sa koná vždy tretí aprílový víkend, začiatok najdlhšej trasy je vo
    Svätom Jure, začiatok najkratšej trasy v Dúbravke, cieľ v Devíne, účastníci dostanú sprievodný list, v cieli diplom
    a čo je najdôležitejšie - na akcii je vždy dobrá nálada.</p>
<p>Na prvom ročníku sa zúčastnilo 32 turistov plus 10 organizátorov.</p>

<p><img class="defaultimg" src="{% static 'devinska37/historia/small_1989.jpg' %}"></p>

<h2>21.4.1990</h2>
<p>Pre tento ročník si opäť vypomôžem prepisom z kroniky, tentokrát len krátkym:</p>
<blockquote>
    <p>... Celkovo sa na Devínskej 37-ke, na jej 2. ročníku sa zúčastnilo 44 organizovaných a neorganizovaných turistov
        z 11 odborov turistiky z Čiech a Slovenska. Mimobratislavskí prišli z Novej Paky, Kolína, Malšovic, Popradu,
        Prievidze a Malaciek.</p>
    <p>Cieľ bol pod bralom starobylého hradu Devín. Okrem toho, že sa v tento deň otvára pre verejnosť, atraktívny bol
        aj pohľad na sútok Moravy a Dunaja, prvý raz bez Ostnáčov! ...</p>
</blockquote>
<p>Kým v prvom ročníku viedla pešia trasa od Kamzíka po červenej značke cez Slavín, v druhom ročníku sa zmenila tak,
    aby turisti putovali menej po asfaltových cestách. Trasa opísaná na sprievodnom liste z roku 1990 sa následne
    nemenila až do roku 2016.</p>
<p><img class="defaultimg" src="{% static 'devinska37/historia/small_1990.jpg' %}"></p>

<h2>21.4.1991</h2>
<p>Tretí ročník je zároveň prvým ročníkom obsahujúcim aj cyklistickú trasu, na ktorej sa zúčastnilo 6 cyklistov.
    Väščinu účastníkov však tvorili peší turisti. Prišlo ich symbolicky 37 zo 14 oddielov (TJ Pozemné stavby,
    TJ Iames, DP Bratislava, ŠK Ružinov, ŠKP Blava, TJ Matador, Sokol KČT Malšovice, ŠKP Hradec Králové,
    ČKT Bystřice pod Hostínem, Slávia Prírodovedec, Štart VD Bratislava, Slávia Ekonóm, Hydrostav Bratislava a
    TJ Tatran Devín). Podarilo sa nám nájsť aj fotografiu z Bieleho kríža. Ešte šťastie, lebo inak by asi nikto
    neuveril, že uprostred apríla môže byť v Malých Karpatoch 7-centimetrová vrstva snehu. :)</p>
<p><img class="defaultimg" src="{% static 'devinska37/historia/small_1991.jpg' %}"></p>

<h2>25.4.1992</h2>
<p>Účasť 54 peších turistov (z klubov Drabovec, Istebné, Poprad, Hradec Králové, KČT Melšovice, Slovan Háje,
    Fanatic club, Matador, ZŤS, ŠKP a 16 organizátorov TJ Tatran Devín), zúčastnili sa aj 3 cyklisti (Ján Ábel,
    Juraj Ábel a Ladislav Bimbo). Hromadná fotografia vznikla v cieli v Devíne.</p>
<p><img class="defaultimg" src="{% static 'devinska37/historia/small_1992.jpg' %}"></p>

<h2>24.4.1993</h2>
<p>Tento rok nám prialo počasie, a tak prišlo až 90 účastníkov, veľký nárast zaznamenala najmä cyklistika, keď sa na
    2 trasách zúčastnilo až 40 cyklistov. Od tohto momentu už cyklisti tvoria vždy minimálne polovicu účastníkov,
    tradične sa stretávajú známe tváre a otvárajú jarnú cyklosezónu práve na Devínskej 37. Na fotografii je stanovište
    a zároveň štart pešej B trasy na Kamzíku.</p>
<p><img class="defaultimg" src="{% static 'devinska37/historia/small_1993.jpg' %}"></p>

<h2>23.4.1994</h2>
<p>Účasť prvýkrát prekonala trojcifernú hodnotu, Devínska 37 prilákala 145 turistov!</p>
<p><img class="defaultimg" src="{% static 'devinska37/historia/small_1994.jpg' %}"></p>

<h2>21.4.1995</h2>
<p>Z kroniky sa dozvedáme, že prišlo 88 turistov a v areáli TJ Tatran Devín je postavený prvýkrát veľký stan pre
    vytvorenie zázemia organizátorom. Vraj sa veľmi osvedčil.</p>
<p><img class="defaultimg" src="{% static 'devinska37/historia/small_1995.jpg' %}"></p>
<h2>20.4.1996</h2>
<p>Fotografia z pred kultúrneho domu v Dúbravke. Na tomto mieste sa tradične štartuje najkratšia pešia trasa, ktorá
    často láka rodiny s deťmi na nenáročný výlet na Devínsku Kobylu.</p>
<p><img class="defaultimg" src="{% static 'devinska37/historia/small_1996.jpg' %}"></p>

<h2>19.4.1997</h2>
<p>Deviaty ročník bol opäť veľmi vydarený, zúčastnilo sa 140 účastníkov. Cyklisti si po dobrej túre dávajú dobré
    pivko.</p>
<p><img class="defaultimg" src="{% static 'devinska37/historia/small_1997.jpg' %}"></p>

<h2>25.4.1998</h2>
<p>Devínska 37 oslavuje 10. výročie. Je v plnom rozmachu, praje jej záujem turistov i cykloturistov, cieľ akcie má
    svoje stabilné a zlepšujúce sa zázemie v areáli TJ Tatran Devín. Pri príležitosti výročia sa dávajú vyrobiť
    špeciálne pečiatky, vydarila sa tiež pekná hromadná fotografia z cieľa. :)</p>
<p><img class="defaultimg" src="{% static 'devinska37/historia/small_1998.jpg' %}"></p>

<h2>24.4.1999</h2>
<p>Na 11. ročníku sa zúčastnilo až 183 účastníkov a prvýkrát bol medzi trasy zaradený aj splav rieky Moravy. V tomto
    čase sa Devínska 37 stáva pravdepodobne jedinou akciou v Malých Karpatoch s tromi spôsobmi presunu. Na fotografii
    je prezentácia na štarte najdlhšej pešej 37 kilometrovej trasy zo železničnej stanice v Svätom Jure, prezentovalo
    sa nej 30 turistov.</p>
<p><img class="defaultimg" src="{% static 'devinska37/historia/small_1999.jpg' %}"></p>

<h2>15.4.2000</h2>
<p>Takto vyzerá masa cyklistov na Račianskej ulici kúsok po štarte z Račianskeho mýta. Účasť opäť prekonáva rekordy
    číslom 228 účastníkov.</p>
<p><img class="defaultimg" src="{% static 'devinska37/historia/small_2000.jpg' %}"></p>

<h2>21.4.2001</h2>
<p>Tatranu Devín sa podarilo vďaka rastúcej účasti získať sponzorov (CK Tiptour, Purgina s.r.o.), a tak sa v cieli
    dokonca varil &quot;Tiptour guláš&quot;, pre účastníkov zadarmo.</p>
<p><img class="defaultimg" src="{% static 'devinska37/historia/small_2001.jpg' %}"></p>

<h2>20.4.2002</h2>
<p>Pohoda v člne vodáckej trasy</p>
<p><img class="defaultimg" src="{% static 'devinska37/historia/small_2002.jpg' %}"></p>

<h2>26.4.2003</h2>
<p>Devínska 37 sa v tomto období teší najväčšej popularite vo svojej histórii, na 15. ročníku sa zúčastnilo rekordných
    268 turistov. Pod vedením Tatrana Devín je akcia na svojom vrchole, paradoxne, z tohto ročníka sme doposiaľ nenašli
    žiadne fotografie. Na obrázku je preto aspoň pozvánka s rozpisom jednotlivých trás.</p>
<p><img class="defaultimg" src="{% static 'devinska37/historia/small_2003.jpg' %}"></p>

<h2>17.4.2004</h2>
<p>Ranný dážď odradil najmä mnohých cykloturistov, zo 147 účastníkov ich prišlo na bicykloch výnimočne málo, iba 23.
    Fotografia zachytáva vodákov v areáli TJ Tatran Devín - dva elementy, ktoré sú súčasťou Devínskej 37 naposledy.
    V ďalšom období prišlo k predaju areálu ako súčasti futbalového štadióna v Devíne, kde boli postavené rodinné domy.
    Cieľ sa tak v ďalších rokoch presúva na rôzne iné miesta, strata súkromia a domovského zázemia výrazne poznačila
    smerovanie akcie v budúcnosti. Vodácka časť musela byť zrušená z dôvodu ochrany biotopov v oblasti rieky Moravy,
    organizovanie hromadných akcií v tomto období nie je povolené.</p>
<p><img class="defaultimg" src="{% static 'devinska37/historia/small_2004.jpg' %}"></p>

<h2>16.4.2005</h2>
<p>Na zábere je areál škôlky v Devíne, ktorá poskytla pre tento jeden ročník svoje priestory pre účely akcie, bohužiaľ
    ďalšie ročníky to už nebolo možné. Počasie sa vydarilo, a tak prišlo 202 účastníkov.</p>
<p><img class="defaultimg" src="{% static 'devinska37/historia/small_2005.jpg' %}"></p>

<h2>22.4.2006</h2>
<p>Cieľ 18. ročníka sa nachádza prvý krát vo verejných priestoroch v bufete pri amfiteátri pod hradom Devín. Dobré
    počasie prilákalo 183 účastníkov, medzi ktorými sú prvýkrát aj niektorí budúci organizátori podujatia.</p>
<p><img class="defaultimg" src="{% static 'devinska37/historia/small_2006.jpg' %}"></p>

<h2>21.4.2007</h2>
<p>Aj v tomto ročníku sa musel meniť cieľ podujatia, tentokrát z dôvodu ukončenia prevádzky bufetu v amfiteátri.
    V záujme zachovania blízkosti občerstvenia sa presúvame do stánku na parkovisku pod hradom Devín. Na akcii sa
    zúčastnilo 112 turistov.</p>
<p><img class="defaultimg" src="{% static 'devinska37/historia/small_2007.jpg' %}"></p>

<h2>19.4.2008</h2>
<p>Devínska 37 sa dožíva 20 ročníka, a cieľ sa definitívne presúva na niekoľko rokov do priestorov pred Hostincom
    u Rytiera, za poskytnuté priestory prevádzkovateľom ďakujeme. Z dôvodu nedostatku ľudí sme nútení zrušiť stanovište
    pešej trasy na Kamzíku.</p>
<p><img class="defaultimg" src="{% static 'devinska37/historia/small_2008.jpg' %}"></p>

<h2>18.4.2009</h2>
<p>Dlhodobo početná skupina cyklistov, z ktorej veľkú časť tvoria cyklisti z klubu Apollo, Račania a Zlatomoravčania,
    prišli tradične otvoriť jarnú cyklosezónu.</p>
<p><img class="defaultimg" src="{% static 'devinska37/historia/small_2009.jpg' %}"></p>

<h2>17.4.2010</h2>
<p>Na 22. ročníku sa zúčastnilo 111 účastníkov, ktorých v cieli tradične vítal jeden zo zakladateľov a najaktívnejších
    organizátorov Štefan Bimbo. Bohužiaľ, je tomu tak naposledy, keďže nás neskôr toho roka náhle opustil. Zanechal za
    sebou nezmazateľnú stopu, jeho osobnosť i zápal pre vec nám veľmi chýbajú.</p>
<p><img class="defaultimg" src="{% static 'devinska37/historia/small_2010.jpg' %}"></p>

<h2>16.4.2011</h2>
<p>Na snímke je jedna z najobľúbenejších zastávok na cyklotrase - bufet Včelín na Bielom kríži, ešte v pôvodnej
    maringotke. Tento ročník in memoriam už organizujeme iba v počte 4 organizátorov, tradične silná účasť cyklistov nám
    nedovoľuje ukončiť organizovanie tohoto podujatia.</p>
<p><img class="defaultimg" src="{% static 'devinska37/historia/small_2011.jpg' %}"></p>

<h2>21.4.2012</h2>
<p>Štart najkratšej 11-kilometrovej pešej trasy z Dúbravky pred miestnym kulturákom. Táto trasa láka stále viac rodičov
    s deťmi a milovníkov pekných výhľadov. Na 24.ročník prišlo 117 účastníkov, z toho 30 pešo a 87 na bicykloch.</p>
<p><img class="defaultimg" src="{% static 'devinska37/historia/small_2012.jpg' %}"></p>

<h2>20.4.2013</h2>
<p>K 25. výročiu podujatia nám zaprialo počasie, čo malo za následok hojnú účasť na cyklo aj peších trasách, účastníkov
    sme narátali dokopy 146. V cieli Devínskej 37 sedí jadro Tatrana Devín.</p>
<p><img class="defaultimg" src="{% static 'devinska37/historia/small_2013.jpg' %}"></p>

<h2>26.4.2014</h2>
<p>Pršalo celkom výdatne, zmokli všetci, blato nechýbalo. Aj také ročníky sa konali, odradiť sa nenechalo 77
    účastníkov.</p>
<p><img class="defaultimg" src="{% static 'devinska37/historia/small_2014.jpg' %}"></p>

<h2>18.4.2015</h2>
<p>27. ročník bol posledným ročníkom organizovaným výlučne pod iniciatívou TJ Tatran Devín. Počiatočný elán sa za roky
    spomedzi organizátorských kruhov pomaly vytrácal a vyzeralo to, že podujatie sa konalo hádam už len pre ľudí, ktorí
    si za tie roky zvykli prísť vždy tretiu sobotu v apríli a otvoriť jarnú cyklistickú a turistickú sezónu. Utlmovali
    sa propagačné kampane a D37 pomaly kráčala k svojmu koncu.</p>
<p>Napriek tomu začal stúpať počet peších turistov na najdlhšej trase, čo predznamenáva návrat záujmu ľudí k
    vytrvalostnej turistike.</p>
<p>Cyklotrasa viedla výnimočne lesom.</p>
<p><img class="defaultimg" src="{% static 'devinska37/historia/small_2015.jpg' %}"></p>

<h2>16.4.2016</h2>
<p>Nastáva zlomový bod a do organizácie akcie sa púšťame aj my, OZ Horoklub Amatér. Vyhrnuli sme si rukávy a rozhodli
    sme sa čo najviac pozdvihnúť úroveň tejto akcie. Veľa energie sme vložili najmä do peších trás, kde v predošlých
    ročníkoch účastníci stretli organizátorov len na štarte a v cieli. Pridali sme teda stanovište na Malom Slavíne,
    obnovili sme stanovište na Kamzíku a výrazne sme predĺžili čas na stanovišti v Dúbravke, vďaka čomu mohli dostať
    turisti pečiatku do sprievodného listu na každom stanovišti. Okrem toho sme pripravili nové sprievodné materiály,
    diplomy, smerové tabule a tiež sme presmerovali cyklistické trasy, aby obchádzali rušnú cestu z Lamača do Devínskej
    Novej Vsi.</p>
<p>Jedna z najdôležitejších zmien bolo presunutie cieľa na trávnatú plochu futbalového štadióna neďaleko parkoviska pod
    hradom Devín. Získali sme tak určité súkromie a zázemie, ktoré akcii dlhšiu dobu chýbali. Za poskytnutie priestorov
    a ústretovosť veľmi ďakujeme mestskej časti Devín aj správcovi pozemku.</p>
<p>Samozrejme, tento rok sa nezaobišiel bez určitých prešľapov - problém sme mali najmä s občerstvením pre účastníkov a
    s niektorými zmätočnými informáciami v materiáloch.</p>
<p>V každom prípade veríme, že sa nám podarilo rozbehnúť to správnym smerom s dávkou nového entuziazmu.</p>
<p><img class="defaultimg" src="{% static 'devinska37/historia/small_2016.jpg' %}"></p>

<h2>22.4.2017</h2>
<p>Tento rok už sme boli poučení na vlastných chybách a všetko klapalo podľa plánu. Radosť nám však čiastočne zobralo
    nie veľmi vydarené počasie, a tak sme mali menšiu účasť než rok predtým. Veríme, že to už od budúceho roka bude mať
    stúpajúcu tendenciu :)</p>
<p>V cieli nás rovnako ako v roku 2016 prekvapili bežci. Prvý z nich mal za sebou najdlhšiu 37-kilometrovú trasu už
    niekedy okolo obeda, skôr, než sme mali kompletne pripravené stanovište v cieli. Zavesil tiež na internet peknú
    <a href="https://photos.google.com/share/AF1QipMnLO0Sau5EFW6WiIUhVIMqCRHDaktTI3m9xY913u1w2phcuPDJ0l89MU4YINOlkg?key=cC0xcGFjYlQ2QmZOM3ItXzdRWFpqZnIxclFMa2Nn"
    target="_blank">fotogalériu z celej trasy</a>, ďakujeme. :) Napriek tomu, že Devínska 37 nie je o meraní časov a
    výkonov, fakt, že sa dostáva do hľadáčika bežcov nás teší a sú vítaní.</p>
<p>Dobrá atmosféra v cieli samozrejme nikdy nechýbala.</p>
<p><img class="defaultimg" src="{% static 'devinska37/historia/small_2017.jpg' %}"></p>
{% endblock content %}