{% extends "centerpage.html" %}
{% load horam_extras %}
{% load static %}
{% block title %}Vypožičať materiál{% endblock %}
{% block extra_head %}
    <script src="{% static 'material-cart.js' %}"></script>
{% endblock %}
{% block content %}
<form method="POST">
{% csrf_token %}
<table class="tableform" id="cart-content">
{{ formset.management_form }}
{% for form in formset %}
    {% if form.non_field_errors or form.model.errors or form.count.errors %}
        <tr>
        {{ form.non_field_errors }}
        {{ form.model.errors }}
        {{ form.count.errors }}
        </tr>
    {% endif %}
    <tr>
        <td>{{ form.model }}</td>
        <td>{{ form.count }}</td>
    </tr>
{% endfor %}
</table>
<ul>
    {{ loan_form.as_ul }}
</ul>
<button type="submit" class="material-button" name="cart_action" value="update_only">Upraviť košík</button>
<button type="submit" class="material-button" name="cart_action" value="update_borrow">Upraviť a požičať</button>
</form>
{% endblock %}