{% extends "centerpage.html" %}
{% load horam_extras %}
{% load static %}
{% block title %}{{ model.name }} - Materiál{% endblock %}
{% block extra_head %}
    <script src="{% static 'material-edit.js' %}"></script>
{% endblock %}
{% block content %}
    <h1>{{ model.name }}</h1>

    {% if can_edit  %}
        <ul>
            <li><a href="{% url 'material_edit' model.id %}">Upraviť materiál</a></li>
        </ul>
    {% endif %}

    {% if model.can_borrow %}
        {% if can_borrow %}
            <form action="{% url 'material_add_to_cart' %}" method="POST">
                {%  csrf_token %}
                <input type="hidden" name="model" value="{{ model.id }}" />
                <input type="hidden" name="count" value="1" />
                <button type="submit" class="material-button">Pridať do košíka</button>
            </form>
        {% else %}
            <p>Požičať materiál môžu iba prihlásení používatelia.</p>
        {% endif %}
    {% else %}
        <p>Tento materiál sa nepožičiava.</p>
    {% endif %}

    <p>{% if model.price_eur is not None %}Hodnota: {{ model.price_eur }} €/položka<br />{% endif %}
    Kategória: {{ model.category.name }}
    </p>

    <div>
        {% render_user_content model.description %}
    </div>

    {% if can_edit %}
        <form method="POST" action="{% url 'material_decommission' model.id %}">
        {% csrf_token %}
    {% endif %}

    <table>
        <thead>
        <tr>
            {% if can_edit %}
                <th><input type="checkbox" id="select-all" /></th>
            {% endif %}
            <th>ID položky</th>
            <th>Zaradená</th>
            <th>Vyradená</th>
        </tr>
        </thead>
        <tbody>
        {% for item in model.items.all %}
            <tr>
                {% if can_edit %}
                    <td>
                        {% if item.decommissioned_date is None %}
                        <input type="checkbox"
                               name="item_id"
                               value="{{ item.id }}"
                               {% if item.id in selected_items %}checked="checked"{% endif %}
                        />
                        {% endif %}
                    </td>
                {% endif %}
                <td>{{ item.id }}</td>
                <td>{{ item.commissioned_date|format_date|default:'neznámy dátum' }}</td>
                <td>{{ item.decommissioned_date|format_date|default:'' }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">Žiadne položky nie sú evidované</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if can_edit %}
        <ul>
            <li>
                {{ decommission_form.decommission_date.label_tag }}
                {{ decommission_form.decommission_date }}
            </li>
        </ul>

        <button type="submit" class="material-button">Vyradiť označený materiál</button>
        </form>
    {% endif %}
    {% if can_edit %}
        <hr>
        <form method="POST" action="{% url 'material_commission' model.id %}">
            {% csrf_token %}
            {% include 'material/commission-form.html' %}
            <button type="submit" class="material-button">Zaradiť</button>
        </form>
    {% endif %}
{% endblock %}