{% extends "centerpage.html" %}
{% load horam_extras %}
{% block title %}Materiál{% endblock %}
{% block content %}
    <h1>Materiál</h1>
    <ul>
        {% if can_add %}
            <li><a href="{% url 'material_add' %}">Pridať materiál</a></li>
        {% endif %}
        {% if all_link %}
            <li><a href="{% url 'material_index_all' %}">Zobraziť aj vyradený materiál</a></li>
        {% endif %}
        {% if can_borrow %}
            <li><a href="{% url 'material_cart' %}">Vypožičať materiál/košík</a></li>
            <li><a href="{% url 'material_my_loans' %}">Moje výpožičky</a></li>
            <li><a href="{% url 'material_loans' %}">Aktuálne výpožičky</a></li>
        {% endif %}
    </ul>

    {% regroup models by category as category_list %}
    {% for category, category_models in category_list %}
        <h2>{{ category.name }}</h2>

        <table>
        <tr>
            <th>Model</th>
            <th>Cena</th>
            <th>Počet</th>
        </tr>
        {% for model in category_models %}
            <tr>
                <td><a href="{% url 'material_detail' model.id %}">{{ model.name }}</a></td>
                <td>{{ model.price_eur|default:'' }}</td>
                <td>{{ model.item_count }}</td>
            </tr>
        {% endfor %}
        </table>
    {% endfor %}
{% endblock %}