{% extends "centerpage.html" %}
{% load horam_extras %}
{% block title %}Aktuálne výpožičky - Materiál{% endblock %}
{% block content %}
    <h1>Aktuálne výpožičky</h1>
    {% if models %}
        <table>
        <tr>
            <th>Model</th>
            <th>Obdobie</th>
            <th>Počet požičaných</th>
            <th>Kto</th>
        </tr>
        {% for model in models %}
            <tr>
                <td><a href="{% url 'material_detail' model.id %}">{{ model.name }}</a></td>
                <td>{{ model.during|format_date_range }}</td>
                <td>{{ model.item_count }}</td>
                <td>{{ model.loaned_to_nickname }}</td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>Momentálne nie sú nahlásené žiadne výpožičky.</p>
    {% endif %}
{% endblock %}