{% extends "centerpage.html" %}
{% load horam_extras %}
{% block title %}Moje výpožičky - Materiál{% endblock %}
{% block content %}
    <h1>Moje výpožičky</h1>
    <form method="POST" class="tableform">
        {% csrf_token %}
        {{ formset.management_form }}

        <table>
        <tr>
            <th>Model</th>
            <th>Obdobie</th>
            <th>Počet požičaných</th>
            <th>Vrátiť počet</th>
        </tr>
        {% for form in formset %}
            {% if form.non_field_errors or form.model.errors or form.count.errors %}
                <tr>
                {{ form.non_field_errors }}
                {{ form.model.errors }}
                {{ form.count.errors }}
                </tr>
            {% endif %}
            <tr>
                <td>{{ form.model }}<a href="{% url 'material_detail' form.model.initial.id %}">{{ form.model.initial.name }}</a></td>
                <td>{{ form.during }}{{ form.during.initial|format_date_range }}</td>
                <td>{{ form.model.initial.item_count }}</td>
                <td>{{ form.count }}</td>
            </tr>
        {% endfor %}
        </table>
        <button type="submit">Vrátiť</button>
    </form>
{% endblock %}