html {
    height: 100%;
}

body {
    background-color: rgb(89,130,176);

    color: black;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 100%;
}

th {
    font-weight: bold;
    text-align: left;
}

.flash ul {
    display: block;
    margin: 0;
    padding: 0;
}

.flash ul li {
    display: block;
    list-style-type: none;
    padding: 16px;
    margin: 0 0 16px;
    font-weight: 500;
}

.flash ul li.success {
    background-color: #43a047;
    color: white;
}

.flash ul li.error {
    background-color: #e53935;
    color: white;
}

/*
 * Side menu.
 *
 * The menu can be in three states. Default (denoted by .menu-default on body), visible (no class) and hidden
 * (.menu-hidden). Once the user clicks on the menu toggle, the .menu-default class is removed so that the
 * state does not switch automatically.
 */

.main {
    height: 100%;
    transition: 0.5s;
    transition-property: padding-left;
}

.menu {
    width: 15em;
    height: 100%;
    transition: 0.5s;
    overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10001;
    background-color: #f0f0f0;
    color: black;
}

.content-shade {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: rgba(0,0,0,0.5);
    opacity: 1;
    transition: height 0s ease 0s, opacity 0.5s;
}

.menu-default .menu, .menu-hidden .menu {
    width: 0;
}

.menu-default .main, .menu-hidden .main {
    padding-left: 0;
}

.menu-default .content-shade, .menu-hidden .content-shade {
    opacity: 0;
    height: 0;
    transition: opacity 0.5s, height 0s ease 0.5s;
}

.menu-inner {
    min-width: 15em;
    position: absolute;
    right: 0;
    height: 100%;
    border-right: 1px solid black;
    overflow-y: auto;
}

.menu-inner2 {
    /* padding-left: 15em * 744 / 1052 + 1em*/
    padding: 11.6em 1em 1em;
    background: url("./logo.svg")  top center/contain no-repeat;
}

.menu-toggle {
    font-size: 2em;
    padding: 0.5em;
    display: inline-block;
}

.menu-toggle:hover {
    background-color: #ccc;
}

.menu ul {
    padding: 0;
    margin: 0;
    display: block;
}

.menu ul+ul {
    margin-top: 1em;
}

.menu li {
    margin: 0.1em 0;
    display: block;
    list-style-type: none;
}

.menu li a {
    display: block;
    padding: 0 0.5em;
    color: black;
    text-decoration: none;
}

.menu li a:link:hover {
    background: #fff;
    color: black;
}

.content-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

.topbar {
    display: flex;
    flex-flow: row;
    flex-shrink: 0;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    z-index: 10000;
}

.fullcontent .topbar {
    box-shadow: none;
}

.topbar h1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fullmap {
    background: #eee;
}

.fullmap .topbar {
    border-bottom: 1px solid black;
}

.content {
    flex-grow: 1;
    min-width: 20em;
    overflow: auto;
}

.fullcontent .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0;
    overflow: auto;
}

.content.event header {
    display: none;
}

.event-header {
    padding: 1em;
}

.event-wrapper {
    margin: 1em auto 0;
    max-width: 65em;
}

.event-boxes {
    display: flex;
    flex: 0 0 15em;
    flex-flow: row wrap;
    align-content: stretch;
    margin: -0.25em 0.25em;
}

.event-box {
    padding: 1em;
    border: 1px solid black;
    margin: 0.25em;
    border-radius: 3px;
    color: black;
    background: #f0f0f0;
    flex-grow: 1;
}

.event-menu ul {
    display: block;
    padding: 0;
    margin: 0;
}

.event-menu ul+ul {
    margin-top: 1em;
}

.event-menu li {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

.event-main {
    flex-grow: 1;
}

.event-main section {
    border: 1px solid black;
    border-radius: 3px;
    color: black;
    background: #f0f0f0;
    padding: 1em;
    margin: 0.5em;
}

h1 {
    font-size: 2em;
    font-weight: 400;
    font-style: normal;
    margin: 0.5em 0;
}

.content h2 {
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
}

.content h3, strong {
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
}

.centerpage {
    margin: 0.5em;
    border: 1px solid black;
    padding: 1em;
    border-radius: 3px;
    color: black;
    background: #f0f0f0;
}

em {
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
}

.content h4, .content h5, .content h6 {
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
}

@counter-style stanovy1 {
    system: extends decimal;
    prefix: '(';
    suffix: ') ';
}

@counter-style stanovy2 {
    system: extends lower-alpha;
    suffix: ') ';
}

.stanovy > ol > li {
    list-style-type: decimal;
}

.stanovy > ol > li {
    list-style: stanovy1;
}

.stanovy > ol > li > ol > li {
    list-style: lower-alpha;
}

.stanovy > ol > li > ol > li {
    list-style: stanovy2;
}

.stanovy ul > li {
    list-style: '- ';
}

ul.events {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
}

ul.events > li {
    display: flex;
    list-style-type: none;
    height: 100px;
    border: 1px solid #eee;
    padding: 1em;
}

ul.events > li+li {
    border-top: none;
}

ul.events > li > a {
    display: block;
}

ul.events > li .picture {
    flex: 0 0 125px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #eee;
}

ul.events > li .event-details {
    flex-grow: 1;
    padding-left: 1em;
    position: relative;
}

ul.events .event-name {
    font-size: 13px;
    font-weight: 500;
}

ul.events > li .event-details .user-list-small {
    position: absolute;
    bottom: 0;
    left: 1em;
}

.user-list-small {
    display: flex;
    height: 32px;
    padding: 0;
    margin: 0;
}

.user-list-small > li {
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
}

.user-list-small > li+li {
    margin-left: 8px;
}

.user-list-small > li > img {
    width: 32px;
    height: 32px;
}

.user-list-small > li > .more {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
}

.admin-badge {
    display: inline-block;
    padding: 1px 3px;
    background: #43a047;
    color: white;
    border-radius: 2px;
}

.comment {
    border: 1px solid rgba(0,0,0,0.12);
    border-radius: 2px;
    margin-top: 16px;
}

.comment-box {
    display: flex;
    padding: 16px;
    background: #fafafa;
}

.comment-box:target {
    background: #fafaa0;
}

.comment-box+.comment-box {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.comment-box.suppressed * {
    display: none;
}

.comment-box button.unsuppress {
    display: none;
}

.comment-box.suppressed button.unsuppress {
    display: block;
}

.comment-left {
    flex: 0 0 32px;
}

.avatar {
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background: #ccc;
    overflow: hidden;
    text-align: center;
    line-height: 32px;
    color: white;
}

.avatar img {
    width: 32px;
    height: 32px;
}

.comment-main {
    flex-grow: 1;
    padding-left: 16px;
}

.comment-top {
    display: flex;
}

.comment-author {
    font-weight: 500;
    flex: 1;
}

.comment-actions {
    margin-right: 0.5em;
}

.comment-actions a {
    color: rgba(0, 0, 255, 0.54);
    text-decoration: none;
    text-transform: uppercase;
}

.comment-date {
    margin-left: auto;
    color: rgba(0, 0, 0, 0.54);
}

.comment-modified {
    margin-left: 0.5em;
    color: rgba(255, 0, 0, 0.54);
}

.content img {
    max-width: 100%;
}

form ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

form ul li label {
    display: block;
    font-size: 12px;
    margin-top: 16px;
    margin-bottom: 8px;
}

form ul li label + * {
    font-size: 16px;
    display: block;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .38);
    width: 100%;
    margin-bottom: 16px;
}

label.hidden {
    display: none;
}

form ul textarea {
    width: 100%;
}

.material-button {
    border: none;
    border-radius: 2px;
    height: 36px;
    font-size: 14px;
    padding: 0 16px;
    background: #2196f3;
    color: white;
    min-width: 88px;
}

.material-button:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2)
}

textarea.large-area {
    min-height: 20em;
}

textarea.comment-area {
    min-height: 2em;
    width: 100%;
}

div.map {
	width: 100%;
	height: 400px;
}

div.map.half {
    height: 200px;
}

#event-map {
    flex-grow: 1;
}

.editarea-wrapper .buttons {
	text-align: left;
}

.editarea-wrapper .buttons input {
    border:1px solid rgba(0, 0, 0, 0.12);
    font-family: Arial, SunSans-Regular, sans-serif;
    font-size:14px;
    margin:0px;
    margin-top:2px;
    margin-bottom:2px;
    margin-right: 4px;
    padding:5px;
    color:black;
    border-radius: 2px;
}

.calendar-event-state-cancelled {
    text-decoration: line-through;
}

.activity-with-detail .activity-detail {
    display: none;
}

.activity-with-detail .activity-detail.expanded {
    display: block;
}

.select2-organizers {
    display: flex;
}

.select2-organizers .avatar {
    display: inline-block;
    flex: 0 0 35px;
}

.select2-organizers .label {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 1em;
}

article.blog {
    margin-top: 1em;
}

article.blog+article.blog {
    border-top: 1px solid #ccc;
    padding-top: 1em;
}

article.blog h2 {
    margin-top: 0;
}

article.blog h2 span {
    display: block;
    font-size: 75%;
}

.shadow-textarea {
    display: none;
}

#event-calendar-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 1em;
    /* min-height is necessary so that the calendar shrinks correctly */
    min-height: 5em;
}

#event-calendar {
    color: black;
}

#event-calendar .fc-view-harness {
    background: #f0f0f0;
    border: 1px solid black;
    border-radius: 3px;
}

#event-calendar .fc-scrollgrid-section > td,
#event-calendar .fc-scrollgrid {
    border: none;
}

#event-calendar .fc-col-header-cell {
    padding: 1em;
    border: none;
    border-bottom: 1px solid black;
}

#event-calendar .fc-toolbar-title {
    color: black;
    background: #eee;
    padding: 0.5em 1em;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 100%;
}

#event-calendar-links {
    display: block;
    margin: 1em 1em 0;
    padding: 0;
}

#event-calendar-links li {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#event-calendar-links a {
    display: block;
    border: 1px solid black;
    border-radius: 3px 3px 0 0;
    border-bottom: 0;
    padding: 0.5em 1em;
    color: black;
    background: #eee;
}


#d37-content h2 {
    font-size: 1.7em;
}

#d37-content .track-info {
    padding-left: 1em;
}

table.events-list {
    width: 100%;
}

.events-list tr:hover {
    background-color: #fff;
}

.events-list .column-start, .events-list .column-duration, .events-list .column-organizers {
    width: 12%;
}

.events-list .column-review {
    width: 8%;
}

.events-list .column-organizers {
    display: none;
}

#onas-logo {
    display: block;
    text-align: center;
}

#onas-logo img {
    max-height: 15em;
}

table.session-list {
    width: 100%;
}

.tableform input, .tableform select {
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    display: block;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .38);
    margin-bottom: 16px;
}

@media only screen and (min-width: 40em) {
    .content-shade {
        opacity: 0;
        height: 0;
        transition: opacity 0.5s, height 0s ease 0.5s;
    }

    .content {
        padding: 1em;
    }

    .main {
        padding-left: 15em;
    }

    /* Display menu by default for wider screens.
     * These should be the same as the elements without any .menu-{default,hidden}.
     */
    .menu-default .menu {
        width: 15em;
    }

    .menu-default .main {
        padding-left: 15em;
    }

    body {

        background: url("/static/background-leto.jpg") top center/cover no-repeat;
        background: url("/static/background-leto.jpg") top center/cover no-repeat, linear-gradient(180deg, rgba(89,130,176,1) 0%, rgba(99,160,207,1) 71%, rgba(165,190,212,1) 84%, rgba(109,103,91,1) 86%, rgba(123,120,105,1) 100%);
    }

    .centerpage {
        max-width: 50em;
        margin: 5em auto 1em;
    }

    .event-header-top {
        display: none;
    }

    .content.event header {
        display: block;
        max-width: 65em;
        color: black;
        background: #f0f0f0;
        border: 1px solid black;
        border-radius: 3px;
        margin: 5em auto 0;
    }

    .event-boxes {
        margin: -0.5em;
    }

    .event-box {
        margin: 0.5em;
    }

    .event-main section {
        margin: 1em 0 1em 0;
    }
}

@media only screen and (min-width: 50em) {
    .events-list .column-organizers {
        display: table-cell;
    }
}

@media only screen and (min-width: 60em) {
    .event-wrapper {
        display: flex;
        flex-direction: row-reverse;
    }

    .event-main section {
        margin: 1em 1em 1em 0;
    }

    .event-boxes {
        display: block;
        margin: 0;
    }

    .event-box {
        margin: 1em 0;
    }
}

@media only print {
    .menu-toggle {
        display: none;
    }

    .main {
        height: auto;
    }
}