{% load horam_extras  %}
<article class="blog" id="blog-{{ article.id }}">
    <h2><span class="date">{{ article.created|format_date }}</span> {{ article.title }}</h2>
    {% if article.can_edit %}
        <div>
        <a href="{% url 'blog_edit' article.id %}">Upraviť</a>
        </div>
    {% endif %}
    <div>
        {% render_user_content article.content %}
    </div>
</article>