{% extends 'centerpage.html' %}
{% block title %}{% if article_exists %}Upraviť{% else %}Pridať{% endif %} - Novinka{% endblock %}
{% block content %}
    {% if article_exists %}
        <h1>Upraviť novinku</h1>
    {% else %}
        <h1>Pridať novinku</h1>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="material-button">Uložiť</button>
        <ul>
            {{ form.as_ul }}
        </ul>
    </form>
{% endblock %}