{% extends 'centerpage.html' %}
{% block title %}Novinky{% endblock %}
{% block content %}
<h1>Novinky</h1>
{% if can_add %}
    <ul>
    <li><a href="{% url 'blog_add' %}">Pridať novinku</a></li>
    </ul>
{% endif %}
{% for article in articles %}
    {% include 'blog/article.html' with article=article %}
{% empty %}
    <p>Zatiaľ nemáme žiadne novinky.</p>
{% endfor %}
{% endblock %}